/*
API Documentation

Source of truth and network automation platform

API version: 3.1.8 (3.1)
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package nautobot

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// DataValidationAPIService DataValidationAPI service
type DataValidationAPIService service

type ApiDataValidationDataComplianceBulkDestroyRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiDataValidationDataComplianceBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiDataValidationDataComplianceBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DataValidationDataComplianceBulkDestroyExecute(r)
}

/*
DataValidationDataComplianceBulkDestroy Method for DataValidationDataComplianceBulkDestroy

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationDataComplianceBulkDestroyRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceBulkDestroy(ctx context.Context) ApiDataValidationDataComplianceBulkDestroyRequest {
	return ApiDataValidationDataComplianceBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DataValidationAPIService) DataValidationDataComplianceBulkDestroyExecute(r ApiDataValidationDataComplianceBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	patchedBulkWritableDataComplianceRequest *[]PatchedBulkWritableDataComplianceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceBulkPartialUpdateRequest) PatchedBulkWritableDataComplianceRequest(patchedBulkWritableDataComplianceRequest []PatchedBulkWritableDataComplianceRequest) ApiDataValidationDataComplianceBulkPartialUpdateRequest {
	r.patchedBulkWritableDataComplianceRequest = &patchedBulkWritableDataComplianceRequest
	return r
}

func (r ApiDataValidationDataComplianceBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceBulkPartialUpdateRequest) Execute() ([]DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceBulkPartialUpdateExecute(r)
}

/*
DataValidationDataComplianceBulkPartialUpdate Method for DataValidationDataComplianceBulkPartialUpdate

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationDataComplianceBulkPartialUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceBulkPartialUpdate(ctx context.Context) ApiDataValidationDataComplianceBulkPartialUpdateRequest {
	return ApiDataValidationDataComplianceBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DataCompliance
func (a *DataValidationAPIService) DataValidationDataComplianceBulkPartialUpdateExecute(r ApiDataValidationDataComplianceBulkPartialUpdateRequest) ([]DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableDataComplianceRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableDataComplianceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableDataComplianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceBulkUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	bulkWritableDataComplianceRequest *[]BulkWritableDataComplianceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceBulkUpdateRequest) BulkWritableDataComplianceRequest(bulkWritableDataComplianceRequest []BulkWritableDataComplianceRequest) ApiDataValidationDataComplianceBulkUpdateRequest {
	r.bulkWritableDataComplianceRequest = &bulkWritableDataComplianceRequest
	return r
}

func (r ApiDataValidationDataComplianceBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceBulkUpdateRequest) Execute() ([]DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceBulkUpdateExecute(r)
}

/*
DataValidationDataComplianceBulkUpdate Method for DataValidationDataComplianceBulkUpdate

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationDataComplianceBulkUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceBulkUpdate(ctx context.Context) ApiDataValidationDataComplianceBulkUpdateRequest {
	return ApiDataValidationDataComplianceBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DataCompliance
func (a *DataValidationAPIService) DataValidationDataComplianceBulkUpdateExecute(r ApiDataValidationDataComplianceBulkUpdateRequest) ([]DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableDataComplianceRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableDataComplianceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableDataComplianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceCreateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	dataComplianceRequest *DataComplianceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceCreateRequest) DataComplianceRequest(dataComplianceRequest DataComplianceRequest) ApiDataValidationDataComplianceCreateRequest {
	r.dataComplianceRequest = &dataComplianceRequest
	return r
}

func (r ApiDataValidationDataComplianceCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceCreateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceCreateRequest) Execute() (*DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceCreateExecute(r)
}

/*
DataValidationDataComplianceCreate Method for DataValidationDataComplianceCreate

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationDataComplianceCreateRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceCreate(ctx context.Context) ApiDataValidationDataComplianceCreateRequest {
	return ApiDataValidationDataComplianceCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DataCompliance
func (a *DataValidationAPIService) DataValidationDataComplianceCreateExecute(r ApiDataValidationDataComplianceCreateRequest) (*DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataComplianceRequest == nil {
		return localVarReturnValue, nil, reportError("dataComplianceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dataComplianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceDestroyRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceDestroyRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DataValidationDataComplianceDestroyExecute(r)
}

/*
DataValidationDataComplianceDestroy Method for DataValidationDataComplianceDestroy

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataComplianceDestroyRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceDestroy(ctx context.Context, id string) ApiDataValidationDataComplianceDestroyRequest {
	return ApiDataValidationDataComplianceDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DataValidationAPIService) DataValidationDataComplianceDestroyExecute(r ApiDataValidationDataComplianceDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceListRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	format *CircuitsCircuitTerminationsListFormatParameter
	limit *int32
	offset *int32
	sort *string
	depth *int32
	excludeM2m *bool
}

func (r ApiDataValidationDataComplianceListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceListRequest {
	r.format = &format
	return r
}

// Number of results to return per page.
func (r ApiDataValidationDataComplianceListRequest) Limit(limit int32) ApiDataValidationDataComplianceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiDataValidationDataComplianceListRequest) Offset(offset int32) ApiDataValidationDataComplianceListRequest {
	r.offset = &offset
	return r
}

// Which field to use when ordering the results.
func (r ApiDataValidationDataComplianceListRequest) Sort(sort string) ApiDataValidationDataComplianceListRequest {
	r.sort = &sort
	return r
}

// Serializer Depth
func (r ApiDataValidationDataComplianceListRequest) Depth(depth int32) ApiDataValidationDataComplianceListRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiDataValidationDataComplianceListRequest) ExcludeM2m(excludeM2m bool) ApiDataValidationDataComplianceListRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiDataValidationDataComplianceListRequest) Execute() (*PaginatedDataComplianceList, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceListExecute(r)
}

/*
DataValidationDataComplianceList Method for DataValidationDataComplianceList

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationDataComplianceListRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceList(ctx context.Context) ApiDataValidationDataComplianceListRequest {
	return ApiDataValidationDataComplianceListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedDataComplianceList
func (a *DataValidationAPIService) DataValidationDataComplianceListExecute(r ApiDataValidationDataComplianceListRequest) (*PaginatedDataComplianceList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedDataComplianceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceNotesCreateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	noteInputRequest *NoteInputRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceNotesCreateRequest) NoteInputRequest(noteInputRequest NoteInputRequest) ApiDataValidationDataComplianceNotesCreateRequest {
	r.noteInputRequest = &noteInputRequest
	return r
}

func (r ApiDataValidationDataComplianceNotesCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceNotesCreateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceNotesCreateRequest) Execute() (*Note, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceNotesCreateExecute(r)
}

/*
DataValidationDataComplianceNotesCreate Method for DataValidationDataComplianceNotesCreate

API methods for returning or creating notes on an object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataComplianceNotesCreateRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceNotesCreate(ctx context.Context, id string) ApiDataValidationDataComplianceNotesCreateRequest {
	return ApiDataValidationDataComplianceNotesCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Note
func (a *DataValidationAPIService) DataValidationDataComplianceNotesCreateExecute(r ApiDataValidationDataComplianceNotesCreateRequest) (*Note, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Note
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceNotesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.noteInputRequest == nil {
		return localVarReturnValue, nil, reportError("noteInputRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.noteInputRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceNotesListRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	limit *int32
	offset *int32
	depth *int32
	excludeM2m *bool
}

func (r ApiDataValidationDataComplianceNotesListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceNotesListRequest {
	r.format = &format
	return r
}

// Number of results to return per page.
func (r ApiDataValidationDataComplianceNotesListRequest) Limit(limit int32) ApiDataValidationDataComplianceNotesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiDataValidationDataComplianceNotesListRequest) Offset(offset int32) ApiDataValidationDataComplianceNotesListRequest {
	r.offset = &offset
	return r
}

// Serializer Depth
func (r ApiDataValidationDataComplianceNotesListRequest) Depth(depth int32) ApiDataValidationDataComplianceNotesListRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiDataValidationDataComplianceNotesListRequest) ExcludeM2m(excludeM2m bool) ApiDataValidationDataComplianceNotesListRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiDataValidationDataComplianceNotesListRequest) Execute() (*PaginatedNoteList, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceNotesListExecute(r)
}

/*
DataValidationDataComplianceNotesList Method for DataValidationDataComplianceNotesList

API methods for returning or creating notes on an object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataComplianceNotesListRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceNotesList(ctx context.Context, id string) ApiDataValidationDataComplianceNotesListRequest {
	return ApiDataValidationDataComplianceNotesListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedNoteList
func (a *DataValidationAPIService) DataValidationDataComplianceNotesListExecute(r ApiDataValidationDataComplianceNotesListRequest) (*PaginatedNoteList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedNoteList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceNotesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataCompliancePartialUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	patchedDataComplianceRequest *PatchedDataComplianceRequest
}

func (r ApiDataValidationDataCompliancePartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataCompliancePartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataCompliancePartialUpdateRequest) PatchedDataComplianceRequest(patchedDataComplianceRequest PatchedDataComplianceRequest) ApiDataValidationDataCompliancePartialUpdateRequest {
	r.patchedDataComplianceRequest = &patchedDataComplianceRequest
	return r
}

func (r ApiDataValidationDataCompliancePartialUpdateRequest) Execute() (*DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataCompliancePartialUpdateExecute(r)
}

/*
DataValidationDataCompliancePartialUpdate Method for DataValidationDataCompliancePartialUpdate

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataCompliancePartialUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationDataCompliancePartialUpdate(ctx context.Context, id string) ApiDataValidationDataCompliancePartialUpdateRequest {
	return ApiDataValidationDataCompliancePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DataCompliance
func (a *DataValidationAPIService) DataValidationDataCompliancePartialUpdateExecute(r ApiDataValidationDataCompliancePartialUpdateRequest) (*DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataCompliancePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedDataComplianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceRetrieveRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	depth *int32
	excludeM2m *bool
}

func (r ApiDataValidationDataComplianceRetrieveRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceRetrieveRequest {
	r.format = &format
	return r
}

// Serializer Depth
func (r ApiDataValidationDataComplianceRetrieveRequest) Depth(depth int32) ApiDataValidationDataComplianceRetrieveRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiDataValidationDataComplianceRetrieveRequest) ExcludeM2m(excludeM2m bool) ApiDataValidationDataComplianceRetrieveRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiDataValidationDataComplianceRetrieveRequest) Execute() (*DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceRetrieveExecute(r)
}

/*
DataValidationDataComplianceRetrieve Method for DataValidationDataComplianceRetrieve

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataComplianceRetrieveRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceRetrieve(ctx context.Context, id string) ApiDataValidationDataComplianceRetrieveRequest {
	return ApiDataValidationDataComplianceRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DataCompliance
func (a *DataValidationAPIService) DataValidationDataComplianceRetrieveExecute(r ApiDataValidationDataComplianceRetrieveRequest) (*DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationDataComplianceUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	dataComplianceRequest *DataComplianceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationDataComplianceUpdateRequest) DataComplianceRequest(dataComplianceRequest DataComplianceRequest) ApiDataValidationDataComplianceUpdateRequest {
	r.dataComplianceRequest = &dataComplianceRequest
	return r
}

func (r ApiDataValidationDataComplianceUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationDataComplianceUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationDataComplianceUpdateRequest) Execute() (*DataCompliance, *http.Response, error) {
	return r.ApiService.DataValidationDataComplianceUpdateExecute(r)
}

/*
DataValidationDataComplianceUpdate Method for DataValidationDataComplianceUpdate

API Views for DataCompliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this data compliance.
 @return ApiDataValidationDataComplianceUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationDataComplianceUpdate(ctx context.Context, id string) ApiDataValidationDataComplianceUpdateRequest {
	return ApiDataValidationDataComplianceUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DataCompliance
func (a *DataValidationAPIService) DataValidationDataComplianceUpdateExecute(r ApiDataValidationDataComplianceUpdateRequest) (*DataCompliance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataCompliance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationDataComplianceUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/data-compliance/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataComplianceRequest == nil {
		return localVarReturnValue, nil, reportError("dataComplianceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dataComplianceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesBulkDestroyRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationMinMaxRulesBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiDataValidationMinMaxRulesBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiDataValidationMinMaxRulesBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationMinMaxRulesBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesBulkDestroyExecute(r)
}

/*
DataValidationMinMaxRulesBulkDestroy Method for DataValidationMinMaxRulesBulkDestroy

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationMinMaxRulesBulkDestroyRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkDestroy(ctx context.Context) ApiDataValidationMinMaxRulesBulkDestroyRequest {
	return ApiDataValidationMinMaxRulesBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkDestroyExecute(r ApiDataValidationMinMaxRulesBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	patchedBulkWritableMinMaxValidationRuleRequest *[]PatchedBulkWritableMinMaxValidationRuleRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationMinMaxRulesBulkPartialUpdateRequest) PatchedBulkWritableMinMaxValidationRuleRequest(patchedBulkWritableMinMaxValidationRuleRequest []PatchedBulkWritableMinMaxValidationRuleRequest) ApiDataValidationMinMaxRulesBulkPartialUpdateRequest {
	r.patchedBulkWritableMinMaxValidationRuleRequest = &patchedBulkWritableMinMaxValidationRuleRequest
	return r
}

func (r ApiDataValidationMinMaxRulesBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationMinMaxRulesBulkPartialUpdateRequest) Execute() ([]MinMaxValidationRule, *http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesBulkPartialUpdateExecute(r)
}

/*
DataValidationMinMaxRulesBulkPartialUpdate Method for DataValidationMinMaxRulesBulkPartialUpdate

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationMinMaxRulesBulkPartialUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkPartialUpdate(ctx context.Context) ApiDataValidationMinMaxRulesBulkPartialUpdateRequest {
	return ApiDataValidationMinMaxRulesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []MinMaxValidationRule
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkPartialUpdateExecute(r ApiDataValidationMinMaxRulesBulkPartialUpdateRequest) ([]MinMaxValidationRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MinMaxValidationRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableMinMaxValidationRuleRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableMinMaxValidationRuleRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableMinMaxValidationRuleRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	bulkWritableMinMaxValidationRuleRequest *[]BulkWritableMinMaxValidationRuleRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationMinMaxRulesBulkUpdateRequest) BulkWritableMinMaxValidationRuleRequest(bulkWritableMinMaxValidationRuleRequest []BulkWritableMinMaxValidationRuleRequest) ApiDataValidationMinMaxRulesBulkUpdateRequest {
	r.bulkWritableMinMaxValidationRuleRequest = &bulkWritableMinMaxValidationRuleRequest
	return r
}

func (r ApiDataValidationMinMaxRulesBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationMinMaxRulesBulkUpdateRequest) Execute() ([]MinMaxValidationRule, *http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesBulkUpdateExecute(r)
}

/*
DataValidationMinMaxRulesBulkUpdate Method for DataValidationMinMaxRulesBulkUpdate

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationMinMaxRulesBulkUpdateRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkUpdate(ctx context.Context) ApiDataValidationMinMaxRulesBulkUpdateRequest {
	return ApiDataValidationMinMaxRulesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []MinMaxValidationRule
func (a *DataValidationAPIService) DataValidationMinMaxRulesBulkUpdateExecute(r ApiDataValidationMinMaxRulesBulkUpdateRequest) ([]MinMaxValidationRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MinMaxValidationRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableMinMaxValidationRuleRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableMinMaxValidationRuleRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableMinMaxValidationRuleRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesCreateRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	minMaxValidationRuleRequest *MinMaxValidationRuleRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationMinMaxRulesCreateRequest) MinMaxValidationRuleRequest(minMaxValidationRuleRequest MinMaxValidationRuleRequest) ApiDataValidationMinMaxRulesCreateRequest {
	r.minMaxValidationRuleRequest = &minMaxValidationRuleRequest
	return r
}

func (r ApiDataValidationMinMaxRulesCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesCreateRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationMinMaxRulesCreateRequest) Execute() (*MinMaxValidationRule, *http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesCreateExecute(r)
}

/*
DataValidationMinMaxRulesCreate Method for DataValidationMinMaxRulesCreate

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationMinMaxRulesCreateRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesCreate(ctx context.Context) ApiDataValidationMinMaxRulesCreateRequest {
	return ApiDataValidationMinMaxRulesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MinMaxValidationRule
func (a *DataValidationAPIService) DataValidationMinMaxRulesCreateExecute(r ApiDataValidationMinMaxRulesCreateRequest) (*MinMaxValidationRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MinMaxValidationRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.minMaxValidationRuleRequest == nil {
		return localVarReturnValue, nil, reportError("minMaxValidationRuleRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.minMaxValidationRuleRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesDestroyRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiDataValidationMinMaxRulesDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesDestroyRequest {
	r.format = &format
	return r
}

func (r ApiDataValidationMinMaxRulesDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesDestroyExecute(r)
}

/*
DataValidationMinMaxRulesDestroy Method for DataValidationMinMaxRulesDestroy

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this min max validation rule.
 @return ApiDataValidationMinMaxRulesDestroyRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesDestroy(ctx context.Context, id string) ApiDataValidationMinMaxRulesDestroyRequest {
	return ApiDataValidationMinMaxRulesDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DataValidationAPIService) DataValidationMinMaxRulesDestroyExecute(r ApiDataValidationMinMaxRulesDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDataValidationMinMaxRulesListRequest struct {
	ctx context.Context
	ApiService *DataValidationAPIService
	contacts *[]string
	contactsIsnull *bool
	contactsN *[]string
	contentType *[]int32
	contentTypeN *[]int32
	created *[]time.Time
	createdGt *[]time.Time
	createdGte *[]time.Time
	createdIsnull *bool
	createdLt *[]time.Time
	createdLte *[]time.Time
	createdN *[]time.Time
	dynamicGroups *[]string
	dynamicGroupsN *[]string
	enabled *bool
	errorMessage *[]string
	errorMessageIc *[]string
	errorMessageIe *[]string
	errorMessageIew *[]string
	errorMessageIre *[]string
	errorMessageIsw *[]string
	errorMessageN *[]string
	errorMessageNic *[]string
	errorMessageNie *[]string
	errorMessageNiew *[]string
	errorMessageNire *[]string
	errorMessageNisw *[]string
	errorMessageNre *[]string
	errorMessageRe *[]string
	field *[]string
	fieldIc *[]string
	fieldIe *[]string
	fieldIew *[]string
	fieldIre *[]string
	fieldIsw *[]string
	fieldN *[]string
	fieldNic *[]string
	fieldNie *[]string
	fieldNiew *[]string
	fieldNire *[]string
	fieldNisw *[]string
	fieldNre *[]string
	fieldRe *[]string
	format *CircuitsCircuitTerminationsListFormatParameter
	id *[]string
	idN *[]string
	lastUpdated *[]time.Time
	lastUpdatedGt *[]time.Time
	lastUpdatedGte *[]time.Time
	lastUpdatedIsnull *bool
	lastUpdatedLt *[]time.Time
	lastUpdatedLte *[]time.Time
	lastUpdatedN *[]time.Time
	limit *int32
	max *[]float32
	maxGt *[]float32
	maxGte *[]float32
	maxIsnull *bool
	maxLt *[]float32
	maxLte *[]float32
	maxN *[]float32
	min *[]float32
	minGt *[]float32
	minGte *[]float32
	minIsnull *bool
	minLt *[]float32
	minLte *[]float32
	minN *[]float32
	name *[]string
	nameIc *[]string
	nameIe *[]string
	nameIew *[]string
	nameIre *[]string
	nameIsw *[]string
	nameN *[]string
	nameNic *[]string
	nameNie *[]string
	nameNiew *[]string
	nameNire *[]string
	nameNisw *[]string
	nameNre *[]string
	nameRe *[]string
	offset *int32
	q *string
	sort *string
	tags *[]string
	tagsIsnull *bool
	tagsN *[]string
	teams *[]string
	teamsIsnull *bool
	teamsN *[]string
	depth *int32
	excludeM2m *bool
}

func (r ApiDataValidationMinMaxRulesListRequest) Contacts(contacts []string) ApiDataValidationMinMaxRulesListRequest {
	r.contacts = &contacts
	return r
}

// Contacts (name or ID) is null
func (r ApiDataValidationMinMaxRulesListRequest) ContactsIsnull(contactsIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.contactsIsnull = &contactsIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ContactsN(contactsN []string) ApiDataValidationMinMaxRulesListRequest {
	r.contactsN = &contactsN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ContentType(contentType []int32) ApiDataValidationMinMaxRulesListRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ContentTypeN(contentTypeN []int32) ApiDataValidationMinMaxRulesListRequest {
	r.contentTypeN = &contentTypeN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Created(created []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.created = &created
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedGt(createdGt []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.createdGt = &createdGt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedGte(createdGte []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedIsnull(createdIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.createdIsnull = &createdIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedLt(createdLt []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.createdLt = &createdLt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedLte(createdLte []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) CreatedN(createdN []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.createdN = &createdN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) DynamicGroups(dynamicGroups []string) ApiDataValidationMinMaxRulesListRequest {
	r.dynamicGroups = &dynamicGroups
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) DynamicGroupsN(dynamicGroupsN []string) ApiDataValidationMinMaxRulesListRequest {
	r.dynamicGroupsN = &dynamicGroupsN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Enabled(enabled bool) ApiDataValidationMinMaxRulesListRequest {
	r.enabled = &enabled
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessage(errorMessage []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessage = &errorMessage
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageIc(errorMessageIc []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageIc = &errorMessageIc
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageIe(errorMessageIe []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageIe = &errorMessageIe
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageIew(errorMessageIew []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageIew = &errorMessageIew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageIre(errorMessageIre []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageIre = &errorMessageIre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageIsw(errorMessageIsw []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageIsw = &errorMessageIsw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageN(errorMessageN []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageN = &errorMessageN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNic(errorMessageNic []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNic = &errorMessageNic
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNie(errorMessageNie []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNie = &errorMessageNie
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNiew(errorMessageNiew []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNiew = &errorMessageNiew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNire(errorMessageNire []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNire = &errorMessageNire
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNisw(errorMessageNisw []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNisw = &errorMessageNisw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageNre(errorMessageNre []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageNre = &errorMessageNre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) ErrorMessageRe(errorMessageRe []string) ApiDataValidationMinMaxRulesListRequest {
	r.errorMessageRe = &errorMessageRe
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Field(field []string) ApiDataValidationMinMaxRulesListRequest {
	r.field = &field
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldIc(fieldIc []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldIc = &fieldIc
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldIe(fieldIe []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldIe = &fieldIe
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldIew(fieldIew []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldIew = &fieldIew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldIre(fieldIre []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldIre = &fieldIre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldIsw(fieldIsw []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldIsw = &fieldIsw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldN(fieldN []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldN = &fieldN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNic(fieldNic []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNic = &fieldNic
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNie(fieldNie []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNie = &fieldNie
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNiew(fieldNiew []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNiew = &fieldNiew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNire(fieldNire []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNire = &fieldNire
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNisw(fieldNisw []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNisw = &fieldNisw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldNre(fieldNre []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldNre = &fieldNre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) FieldRe(fieldRe []string) ApiDataValidationMinMaxRulesListRequest {
	r.fieldRe = &fieldRe
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiDataValidationMinMaxRulesListRequest {
	r.format = &format
	return r
}

// Unique object identifier, either a UUID primary key or a composite key.
func (r ApiDataValidationMinMaxRulesListRequest) Id(id []string) ApiDataValidationMinMaxRulesListRequest {
	r.id = &id
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) IdN(idN []string) ApiDataValidationMinMaxRulesListRequest {
	r.idN = &idN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdated(lastUpdated []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedGt(lastUpdatedGt []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedGt = &lastUpdatedGt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedGte(lastUpdatedGte []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedIsnull(lastUpdatedIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedIsnull = &lastUpdatedIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedLt(lastUpdatedLt []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedLt = &lastUpdatedLt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedLte(lastUpdatedLte []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) LastUpdatedN(lastUpdatedN []time.Time) ApiDataValidationMinMaxRulesListRequest {
	r.lastUpdatedN = &lastUpdatedN
	return r
}

// Number of results to return per page.
func (r ApiDataValidationMinMaxRulesListRequest) Limit(limit int32) ApiDataValidationMinMaxRulesListRequest {
	r.limit = &limit
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Max(max []float32) ApiDataValidationMinMaxRulesListRequest {
	r.max = &max
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxGt(maxGt []float32) ApiDataValidationMinMaxRulesListRequest {
	r.maxGt = &maxGt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxGte(maxGte []float32) ApiDataValidationMinMaxRulesListRequest {
	r.maxGte = &maxGte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxIsnull(maxIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.maxIsnull = &maxIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxLt(maxLt []float32) ApiDataValidationMinMaxRulesListRequest {
	r.maxLt = &maxLt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxLte(maxLte []float32) ApiDataValidationMinMaxRulesListRequest {
	r.maxLte = &maxLte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MaxN(maxN []float32) ApiDataValidationMinMaxRulesListRequest {
	r.maxN = &maxN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Min(min []float32) ApiDataValidationMinMaxRulesListRequest {
	r.min = &min
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinGt(minGt []float32) ApiDataValidationMinMaxRulesListRequest {
	r.minGt = &minGt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinGte(minGte []float32) ApiDataValidationMinMaxRulesListRequest {
	r.minGte = &minGte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinIsnull(minIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.minIsnull = &minIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinLt(minLt []float32) ApiDataValidationMinMaxRulesListRequest {
	r.minLt = &minLt
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinLte(minLte []float32) ApiDataValidationMinMaxRulesListRequest {
	r.minLte = &minLte
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) MinN(minN []float32) ApiDataValidationMinMaxRulesListRequest {
	r.minN = &minN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Name(name []string) ApiDataValidationMinMaxRulesListRequest {
	r.name = &name
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameIc(nameIc []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameIc = &nameIc
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameIe(nameIe []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameIe = &nameIe
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameIew(nameIew []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameIew = &nameIew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameIre(nameIre []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameIre = &nameIre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameIsw(nameIsw []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameIsw = &nameIsw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameN(nameN []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameN = &nameN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNic(nameNic []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNic = &nameNic
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNie(nameNie []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNie = &nameNie
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNiew(nameNiew []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNiew = &nameNiew
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNire(nameNire []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNire = &nameNire
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNisw(nameNisw []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNisw = &nameNisw
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameNre(nameNre []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameNre = &nameNre
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) NameRe(nameRe []string) ApiDataValidationMinMaxRulesListRequest {
	r.nameRe = &nameRe
	return r
}

// The initial index from which to return the results.
func (r ApiDataValidationMinMaxRulesListRequest) Offset(offset int32) ApiDataValidationMinMaxRulesListRequest {
	r.offset = &offset
	return r
}

// Search
func (r ApiDataValidationMinMaxRulesListRequest) Q(q string) ApiDataValidationMinMaxRulesListRequest {
	r.q = &q
	return r
}

// Which field to use when ordering the results.
func (r ApiDataValidationMinMaxRulesListRequest) Sort(sort string) ApiDataValidationMinMaxRulesListRequest {
	r.sort = &sort
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Tags(tags []string) ApiDataValidationMinMaxRulesListRequest {
	r.tags = &tags
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) TagsIsnull(tagsIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.tagsIsnull = &tagsIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) TagsN(tagsN []string) ApiDataValidationMinMaxRulesListRequest {
	r.tagsN = &tagsN
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Teams(teams []string) ApiDataValidationMinMaxRulesListRequest {
	r.teams = &teams
	return r
}

// Teams (name or ID) is null
func (r ApiDataValidationMinMaxRulesListRequest) TeamsIsnull(teamsIsnull bool) ApiDataValidationMinMaxRulesListRequest {
	r.teamsIsnull = &teamsIsnull
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) TeamsN(teamsN []string) ApiDataValidationMinMaxRulesListRequest {
	r.teamsN = &teamsN
	return r
}

// Serializer Depth
func (r ApiDataValidationMinMaxRulesListRequest) Depth(depth int32) ApiDataValidationMinMaxRulesListRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiDataValidationMinMaxRulesListRequest) ExcludeM2m(excludeM2m bool) ApiDataValidationMinMaxRulesListRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiDataValidationMinMaxRulesListRequest) Execute() (*PaginatedMinMaxValidationRuleList, *http.Response, error) {
	return r.ApiService.DataValidationMinMaxRulesListExecute(r)
}

/*
DataValidationMinMaxRulesList Method for DataValidationMinMaxRulesList

View to manage min max expression validation rules.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataValidationMinMaxRulesListRequest
*/
func (a *DataValidationAPIService) DataValidationMinMaxRulesList(ctx context.Context) ApiDataValidationMinMaxRulesListRequest {
	return ApiDataValidationMinMaxRulesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedMinMaxValidationRuleList
func (a *DataValidationAPIService) DataValidationMinMaxRulesListExecute(r ApiDataValidationMinMaxRulesListRequest) (*PaginatedMinMaxValidationRuleList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedMinMaxValidationRuleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValidationAPIService.DataValidationMinMaxRulesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/data-validation/min-max-rules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contacts != nil {
		t := *r.contacts
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "contacts", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "contacts", t, "form", "multi")
		}
	}
	if r.contactsIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contacts__isnull", r.contactsIsnull, "form", "")
	}
	if r.contactsN != nil {
		t := *r.contactsN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "contacts__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "contacts__n", t, "form", "multi")
		}
	}
	if r.contentType != nil {
		t := *r.contentType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "content_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "content_type", t, "form", "multi")
		}
	}
	if r.contentTypeN != nil {
		t := *r.contentTypeN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "content_type__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "content_type__n", t, "form", "multi")
		}
	}
	if r.created != nil {
		t := *r.created
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created", t, "form", "multi")
		}
	}
	if r.createdGt != nil {
		t := *r.createdGt
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created__gt", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created__gt", t, "form", "multi")
		}
	}
	if r.createdGte != nil {
		t := *r.createdGte
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created__gte", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created__gte", t, "form", "multi")
		}
	}
	if r.createdIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created__isnull", r.createdIsnull, "form", "")
	}
	if r.createdLt != nil {
		t := *r.createdLt
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created__lt", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created__lt", t, "form", "multi")
		}
	}
	if r.createdLte != nil {
		t := *r.createdLte
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created__lte", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created__lte", t, "form", "multi")
		}
	}
	if r.createdN != nil {
		t := *r.createdN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created__n", t, "form", "multi")
[...]
