/*
API Documentation

Source of truth and network automation platform

API version: 2.4.21 (2.4)
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package nautobot

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UiAPIService UiAPI service
type UiAPIService service

type ApiUiCoreRenderJinjaTemplateCreateRequest struct {
	ctx context.Context
	ApiService *UiAPIService
	renderJinjaRequest *RenderJinjaRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiUiCoreRenderJinjaTemplateCreateRequest) RenderJinjaRequest(renderJinjaRequest RenderJinjaRequest) ApiUiCoreRenderJinjaTemplateCreateRequest {
	r.renderJinjaRequest = &renderJinjaRequest
	return r
}

func (r ApiUiCoreRenderJinjaTemplateCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiUiCoreRenderJinjaTemplateCreateRequest {
	r.format = &format
	return r
}

func (r ApiUiCoreRenderJinjaTemplateCreateRequest) Execute() (*RenderJinja, *http.Response, error) {
	return r.ApiService.UiCoreRenderJinjaTemplateCreateExecute(r)
}

/*
UiCoreRenderJinjaTemplateCreate Method for UiCoreRenderJinjaTemplateCreate

View to render a Jinja template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUiCoreRenderJinjaTemplateCreateRequest
*/
func (a *UiAPIService) UiCoreRenderJinjaTemplateCreate(ctx context.Context) ApiUiCoreRenderJinjaTemplateCreateRequest {
	return ApiUiCoreRenderJinjaTemplateCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RenderJinja
func (a *UiAPIService) UiCoreRenderJinjaTemplateCreateExecute(r ApiUiCoreRenderJinjaTemplateCreateRequest) (*RenderJinja, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RenderJinja
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UiAPIService.UiCoreRenderJinjaTemplateCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ui/core/render-jinja-template/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderJinjaRequest == nil {
		return localVarReturnValue, nil, reportError("renderJinjaRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.renderJinjaRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
