/*
API Documentation

Source of truth and network automation platform

API version: 2.3.2 (2.3)
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package nautobot

import (
	"time"
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// IpamAPIService IpamAPI service
type IpamAPIService service

type ApiIpamIpAddressToInterfaceBulkDestroyRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiIpamIpAddressToInterfaceBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceBulkDestroyExecute(r)
}

/*
IpamIpAddressToInterfaceBulkDestroy Method for IpamIpAddressToInterfaceBulkDestroy

Destroy a list of IP Address Assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressToInterfaceBulkDestroyRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkDestroy(ctx context.Context) ApiIpamIpAddressToInterfaceBulkDestroyRequest {
	return ApiIpamIpAddressToInterfaceBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkDestroyExecute(r ApiIpamIpAddressToInterfaceBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	patchedBulkWritableIPAddressToInterfaceRequest *[]PatchedBulkWritableIPAddressToInterfaceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest) PatchedBulkWritableIPAddressToInterfaceRequest(patchedBulkWritableIPAddressToInterfaceRequest []PatchedBulkWritableIPAddressToInterfaceRequest) ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest {
	r.patchedBulkWritableIPAddressToInterfaceRequest = &patchedBulkWritableIPAddressToInterfaceRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest) Execute() ([]IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceBulkPartialUpdateExecute(r)
}

/*
IpamIpAddressToInterfaceBulkPartialUpdate Method for IpamIpAddressToInterfaceBulkPartialUpdate

Partial update a list of IP Address Assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkPartialUpdate(ctx context.Context) ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest {
	return ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkPartialUpdateExecute(r ApiIpamIpAddressToInterfaceBulkPartialUpdateRequest) ([]IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableIPAddressToInterfaceRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableIPAddressToInterfaceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableIPAddressToInterfaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceBulkUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	bulkWritableIPAddressToInterfaceRequest *[]BulkWritableIPAddressToInterfaceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceBulkUpdateRequest) BulkWritableIPAddressToInterfaceRequest(bulkWritableIPAddressToInterfaceRequest []BulkWritableIPAddressToInterfaceRequest) ApiIpamIpAddressToInterfaceBulkUpdateRequest {
	r.bulkWritableIPAddressToInterfaceRequest = &bulkWritableIPAddressToInterfaceRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceBulkUpdateRequest) Execute() ([]IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceBulkUpdateExecute(r)
}

/*
IpamIpAddressToInterfaceBulkUpdate Method for IpamIpAddressToInterfaceBulkUpdate

Update a list of IP Address Assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressToInterfaceBulkUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkUpdate(ctx context.Context) ApiIpamIpAddressToInterfaceBulkUpdateRequest {
	return ApiIpamIpAddressToInterfaceBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfaceBulkUpdateExecute(r ApiIpamIpAddressToInterfaceBulkUpdateRequest) ([]IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableIPAddressToInterfaceRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableIPAddressToInterfaceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableIPAddressToInterfaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceCreateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	iPAddressToInterfaceRequest *IPAddressToInterfaceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceCreateRequest) IPAddressToInterfaceRequest(iPAddressToInterfaceRequest IPAddressToInterfaceRequest) ApiIpamIpAddressToInterfaceCreateRequest {
	r.iPAddressToInterfaceRequest = &iPAddressToInterfaceRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceCreateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceCreateRequest) Execute() (*IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceCreateExecute(r)
}

/*
IpamIpAddressToInterfaceCreate Method for IpamIpAddressToInterfaceCreate

Create one or more IP Address Assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressToInterfaceCreateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceCreate(ctx context.Context) ApiIpamIpAddressToInterfaceCreateRequest {
	return ApiIpamIpAddressToInterfaceCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfaceCreateExecute(r ApiIpamIpAddressToInterfaceCreateRequest) (*IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iPAddressToInterfaceRequest == nil {
		return localVarReturnValue, nil, reportError("iPAddressToInterfaceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iPAddressToInterfaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceDestroyRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceDestroyRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceDestroyExecute(r)
}

/*
IpamIpAddressToInterfaceDestroy Method for IpamIpAddressToInterfaceDestroy

Destroy a IP Address Assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfaceDestroyRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceDestroy(ctx context.Context, id string) ApiIpamIpAddressToInterfaceDestroyRequest {
	return ApiIpamIpAddressToInterfaceDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *IpamAPIService) IpamIpAddressToInterfaceDestroyExecute(r ApiIpamIpAddressToInterfaceDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceListRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	created *[]time.Time
	format *CircuitsCircuitTerminationsListFormatParameter
	id *[]string
	idIc *[]string
	idIe *[]string
	idIew *[]string
	idIre *[]string
	idIsw *[]string
	idN *[]string
	idNic *[]string
	idNie *[]string
	idNiew *[]string
	idNire *[]string
	idNisw *[]string
	idNre *[]string
	idRe *[]string
	interface_ *[]string
	interfaceIsnull *bool
	interfaceN *[]string
	ipAddress *[]string
	ipAddressN *[]string
	isDefault *bool
	isDestination *bool
	isPreferred *bool
	isPrimary *bool
	isSecondary *bool
	isSource *bool
	isStandby *bool
	lastUpdated *[]time.Time
	limit *int32
	offset *int32
	q *string
	sort *string
	vmInterface *[]string
	vmInterfaceIsnull *bool
	vmInterfaceN *[]string
	depth *int32
}

func (r ApiIpamIpAddressToInterfaceListRequest) Created(created []time.Time) ApiIpamIpAddressToInterfaceListRequest {
	r.created = &created
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceListRequest {
	r.format = &format
	return r
}

// Unique object identifier, either a UUID primary key or a composite key.
func (r ApiIpamIpAddressToInterfaceListRequest) Id(id []string) ApiIpamIpAddressToInterfaceListRequest {
	r.id = &id
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdIc(idIc []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idIc = &idIc
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdIe(idIe []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idIe = &idIe
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdIew(idIew []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idIew = &idIew
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdIre(idIre []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idIre = &idIre
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdIsw(idIsw []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idIsw = &idIsw
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdN(idN []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idN = &idN
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNic(idNic []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNic = &idNic
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNie(idNie []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNie = &idNie
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNiew(idNiew []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNiew = &idNiew
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNire(idNire []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNire = &idNire
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNisw(idNisw []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNisw = &idNisw
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdNre(idNre []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idNre = &idNre
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IdRe(idRe []string) ApiIpamIpAddressToInterfaceListRequest {
	r.idRe = &idRe
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) Interface_(interface_ []string) ApiIpamIpAddressToInterfaceListRequest {
	r.interface_ = &interface_
	return r
}

// Interface (name or ID) is null
func (r ApiIpamIpAddressToInterfaceListRequest) InterfaceIsnull(interfaceIsnull bool) ApiIpamIpAddressToInterfaceListRequest {
	r.interfaceIsnull = &interfaceIsnull
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) InterfaceN(interfaceN []string) ApiIpamIpAddressToInterfaceListRequest {
	r.interfaceN = &interfaceN
	return r
}

// IP Address (ID)
func (r ApiIpamIpAddressToInterfaceListRequest) IpAddress(ipAddress []string) ApiIpamIpAddressToInterfaceListRequest {
	r.ipAddress = &ipAddress
	return r
}

// Exclude IP Address (ID)
func (r ApiIpamIpAddressToInterfaceListRequest) IpAddressN(ipAddressN []string) ApiIpamIpAddressToInterfaceListRequest {
	r.ipAddressN = &ipAddressN
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsDefault(isDefault bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isDefault = &isDefault
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsDestination(isDestination bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isDestination = &isDestination
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsPreferred(isPreferred bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isPreferred = &isPreferred
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsPrimary(isPrimary bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isPrimary = &isPrimary
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsSecondary(isSecondary bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isSecondary = &isSecondary
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsSource(isSource bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isSource = &isSource
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) IsStandby(isStandby bool) ApiIpamIpAddressToInterfaceListRequest {
	r.isStandby = &isStandby
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) LastUpdated(lastUpdated []time.Time) ApiIpamIpAddressToInterfaceListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// Number of results to return per page.
func (r ApiIpamIpAddressToInterfaceListRequest) Limit(limit int32) ApiIpamIpAddressToInterfaceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiIpamIpAddressToInterfaceListRequest) Offset(offset int32) ApiIpamIpAddressToInterfaceListRequest {
	r.offset = &offset
	return r
}

// Search
func (r ApiIpamIpAddressToInterfaceListRequest) Q(q string) ApiIpamIpAddressToInterfaceListRequest {
	r.q = &q
	return r
}

// Which field to use when ordering the results.
func (r ApiIpamIpAddressToInterfaceListRequest) Sort(sort string) ApiIpamIpAddressToInterfaceListRequest {
	r.sort = &sort
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) VmInterface(vmInterface []string) ApiIpamIpAddressToInterfaceListRequest {
	r.vmInterface = &vmInterface
	return r
}

// VM Interface (name or ID) is null
func (r ApiIpamIpAddressToInterfaceListRequest) VmInterfaceIsnull(vmInterfaceIsnull bool) ApiIpamIpAddressToInterfaceListRequest {
	r.vmInterfaceIsnull = &vmInterfaceIsnull
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) VmInterfaceN(vmInterfaceN []string) ApiIpamIpAddressToInterfaceListRequest {
	r.vmInterfaceN = &vmInterfaceN
	return r
}

// Serializer Depth
func (r ApiIpamIpAddressToInterfaceListRequest) Depth(depth int32) ApiIpamIpAddressToInterfaceListRequest {
	r.depth = &depth
	return r
}

func (r ApiIpamIpAddressToInterfaceListRequest) Execute() (*PaginatedIPAddressToInterfaceList, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceListExecute(r)
}

/*
IpamIpAddressToInterfaceList Method for IpamIpAddressToInterfaceList

Retrieve a list of IP Address Assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressToInterfaceListRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceList(ctx context.Context) ApiIpamIpAddressToInterfaceListRequest {
	return ApiIpamIpAddressToInterfaceListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedIPAddressToInterfaceList
func (a *IpamAPIService) IpamIpAddressToInterfaceListExecute(r ApiIpamIpAddressToInterfaceListRequest) (*PaginatedIPAddressToInterfaceList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedIPAddressToInterfaceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.created != nil {
		t := *r.created
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "created", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "created", t, "form", "multi")
		}
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.idIc != nil {
		t := *r.idIc
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__ic", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__ic", t, "form", "multi")
		}
	}
	if r.idIe != nil {
		t := *r.idIe
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__ie", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__ie", t, "form", "multi")
		}
	}
	if r.idIew != nil {
		t := *r.idIew
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__iew", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__iew", t, "form", "multi")
		}
	}
	if r.idIre != nil {
		t := *r.idIre
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__ire", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__ire", t, "form", "multi")
		}
	}
	if r.idIsw != nil {
		t := *r.idIsw
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__isw", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__isw", t, "form", "multi")
		}
	}
	if r.idN != nil {
		t := *r.idN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", t, "form", "multi")
		}
	}
	if r.idNic != nil {
		t := *r.idNic
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__nic", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__nic", t, "form", "multi")
		}
	}
	if r.idNie != nil {
		t := *r.idNie
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__nie", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__nie", t, "form", "multi")
		}
	}
	if r.idNiew != nil {
		t := *r.idNiew
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__niew", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__niew", t, "form", "multi")
		}
	}
	if r.idNire != nil {
		t := *r.idNire
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__nire", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__nire", t, "form", "multi")
		}
	}
	if r.idNisw != nil {
		t := *r.idNisw
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__nisw", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__nisw", t, "form", "multi")
		}
	}
	if r.idNre != nil {
		t := *r.idNre
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__nre", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__nre", t, "form", "multi")
		}
	}
	if r.idRe != nil {
		t := *r.idRe
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__re", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__re", t, "form", "multi")
		}
	}
	if r.interface_ != nil {
		t := *r.interface_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "interface", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "interface", t, "form", "multi")
		}
	}
	if r.interfaceIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interface__isnull", r.interfaceIsnull, "form", "")
	}
	if r.interfaceN != nil {
		t := *r.interfaceN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "interface__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "interface__n", t, "form", "multi")
		}
	}
	if r.ipAddress != nil {
		t := *r.ipAddress
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ip_address", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ip_address", t, "form", "multi")
		}
	}
	if r.ipAddressN != nil {
		t := *r.ipAddressN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ip_address__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ip_address__n", t, "form", "multi")
		}
	}
	if r.isDefault != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_default", r.isDefault, "form", "")
	}
	if r.isDestination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_destination", r.isDestination, "form", "")
	}
	if r.isPreferred != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_preferred", r.isPreferred, "form", "")
	}
	if r.isPrimary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_primary", r.isPrimary, "form", "")
	}
	if r.isSecondary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_secondary", r.isSecondary, "form", "")
	}
	if r.isSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_source", r.isSource, "form", "")
	}
	if r.isStandby != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_standby", r.isStandby, "form", "")
	}
	if r.lastUpdated != nil {
		t := *r.lastUpdated
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "last_updated", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "last_updated", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.vmInterface != nil {
		t := *r.vmInterface
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "vm_interface", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "vm_interface", t, "form", "multi")
		}
	}
	if r.vmInterfaceIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vm_interface__isnull", r.vmInterfaceIsnull, "form", "")
	}
	if r.vmInterfaceN != nil {
		t := *r.vmInterfaceN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "vm_interface__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "vm_interface__n", t, "form", "multi")
		}
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		r.depth = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceNotesCreateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	noteInputRequest *NoteInputRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceNotesCreateRequest) NoteInputRequest(noteInputRequest NoteInputRequest) ApiIpamIpAddressToInterfaceNotesCreateRequest {
	r.noteInputRequest = &noteInputRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceNotesCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceNotesCreateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceNotesCreateRequest) Execute() (*Note, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceNotesCreateExecute(r)
}

/*
IpamIpAddressToInterfaceNotesCreate Method for IpamIpAddressToInterfaceNotesCreate

API methods for returning or creating notes on an object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfaceNotesCreateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceNotesCreate(ctx context.Context, id string) ApiIpamIpAddressToInterfaceNotesCreateRequest {
	return ApiIpamIpAddressToInterfaceNotesCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Note
func (a *IpamAPIService) IpamIpAddressToInterfaceNotesCreateExecute(r ApiIpamIpAddressToInterfaceNotesCreateRequest) (*Note, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Note
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceNotesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.noteInputRequest == nil {
		return localVarReturnValue, nil, reportError("noteInputRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.noteInputRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceNotesListRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	limit *int32
	offset *int32
	depth *int32
}

func (r ApiIpamIpAddressToInterfaceNotesListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceNotesListRequest {
	r.format = &format
	return r
}

// Number of results to return per page.
func (r ApiIpamIpAddressToInterfaceNotesListRequest) Limit(limit int32) ApiIpamIpAddressToInterfaceNotesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiIpamIpAddressToInterfaceNotesListRequest) Offset(offset int32) ApiIpamIpAddressToInterfaceNotesListRequest {
	r.offset = &offset
	return r
}

// Serializer Depth
func (r ApiIpamIpAddressToInterfaceNotesListRequest) Depth(depth int32) ApiIpamIpAddressToInterfaceNotesListRequest {
	r.depth = &depth
	return r
}

func (r ApiIpamIpAddressToInterfaceNotesListRequest) Execute() (*PaginatedNoteList, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceNotesListExecute(r)
}

/*
IpamIpAddressToInterfaceNotesList Method for IpamIpAddressToInterfaceNotesList

API methods for returning or creating notes on an object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfaceNotesListRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceNotesList(ctx context.Context, id string) ApiIpamIpAddressToInterfaceNotesListRequest {
	return ApiIpamIpAddressToInterfaceNotesListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedNoteList
func (a *IpamAPIService) IpamIpAddressToInterfaceNotesListExecute(r ApiIpamIpAddressToInterfaceNotesListRequest) (*PaginatedNoteList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedNoteList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceNotesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		r.depth = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfacePartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	patchedIPAddressToInterfaceRequest *PatchedIPAddressToInterfaceRequest
}

func (r ApiIpamIpAddressToInterfacePartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfacePartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfacePartialUpdateRequest) PatchedIPAddressToInterfaceRequest(patchedIPAddressToInterfaceRequest PatchedIPAddressToInterfaceRequest) ApiIpamIpAddressToInterfacePartialUpdateRequest {
	r.patchedIPAddressToInterfaceRequest = &patchedIPAddressToInterfaceRequest
	return r
}

func (r ApiIpamIpAddressToInterfacePartialUpdateRequest) Execute() (*IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfacePartialUpdateExecute(r)
}

/*
IpamIpAddressToInterfacePartialUpdate Method for IpamIpAddressToInterfacePartialUpdate

Partial update a IP Address Assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfacePartialUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfacePartialUpdate(ctx context.Context, id string) ApiIpamIpAddressToInterfacePartialUpdateRequest {
	return ApiIpamIpAddressToInterfacePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfacePartialUpdateExecute(r ApiIpamIpAddressToInterfacePartialUpdateRequest) (*IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfacePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedIPAddressToInterfaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceRetrieveRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	depth *int32
}

func (r ApiIpamIpAddressToInterfaceRetrieveRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceRetrieveRequest {
	r.format = &format
	return r
}

// Serializer Depth
func (r ApiIpamIpAddressToInterfaceRetrieveRequest) Depth(depth int32) ApiIpamIpAddressToInterfaceRetrieveRequest {
	r.depth = &depth
	return r
}

func (r ApiIpamIpAddressToInterfaceRetrieveRequest) Execute() (*IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceRetrieveExecute(r)
}

/*
IpamIpAddressToInterfaceRetrieve Method for IpamIpAddressToInterfaceRetrieve

Retrieve a IP Address Assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfaceRetrieveRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceRetrieve(ctx context.Context, id string) ApiIpamIpAddressToInterfaceRetrieveRequest {
	return ApiIpamIpAddressToInterfaceRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfaceRetrieveExecute(r ApiIpamIpAddressToInterfaceRetrieveRequest) (*IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		r.depth = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressToInterfaceUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	iPAddressToInterfaceRequest *IPAddressToInterfaceRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressToInterfaceUpdateRequest) IPAddressToInterfaceRequest(iPAddressToInterfaceRequest IPAddressToInterfaceRequest) ApiIpamIpAddressToInterfaceUpdateRequest {
	r.iPAddressToInterfaceRequest = &iPAddressToInterfaceRequest
	return r
}

func (r ApiIpamIpAddressToInterfaceUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressToInterfaceUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressToInterfaceUpdateRequest) Execute() (*IPAddressToInterface, *http.Response, error) {
	return r.ApiService.IpamIpAddressToInterfaceUpdateExecute(r)
}

/*
IpamIpAddressToInterfaceUpdate Method for IpamIpAddressToInterfaceUpdate

Update a IP Address Assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP Address Assignment.
 @return ApiIpamIpAddressToInterfaceUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressToInterfaceUpdate(ctx context.Context, id string) ApiIpamIpAddressToInterfaceUpdateRequest {
	return ApiIpamIpAddressToInterfaceUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return IPAddressToInterface
func (a *IpamAPIService) IpamIpAddressToInterfaceUpdateExecute(r ApiIpamIpAddressToInterfaceUpdateRequest) (*IPAddressToInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddressToInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressToInterfaceUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-address-to-interface/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iPAddressToInterfaceRequest == nil {
		return localVarReturnValue, nil, reportError("iPAddressToInterfaceRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iPAddressToInterfaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkDestroyRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressesBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiIpamIpAddressesBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiIpamIpAddressesBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressesBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkDestroyExecute(r)
}

/*
IpamIpAddressesBulkDestroy Method for IpamIpAddressesBulkDestroy

Destroy a list of IP address objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkDestroyRequest
*/
func (a *IpamAPIService) IpamIpAddressesBulkDestroy(ctx context.Context) ApiIpamIpAddressesBulkDestroyRequest {
	return ApiIpamIpAddressesBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *IpamAPIService) IpamIpAddressesBulkDestroyExecute(r ApiIpamIpAddressesBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressesBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	patchedBulkWritableIPAddressRequest *[]PatchedBulkWritableIPAddressRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressesBulkPartialUpdateRequest) PatchedBulkWritableIPAddressRequest(patchedBulkWritableIPAddressRequest []PatchedBulkWritableIPAddressRequest) ApiIpamIpAddressesBulkPartialUpdateRequest {
	r.patchedBulkWritableIPAddressRequest = &patchedBulkWritableIPAddressRequest
	return r
}

func (r ApiIpamIpAddressesBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressesBulkPartialUpdateRequest) Execute() ([]IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkPartialUpdateExecute(r)
}

/*
IpamIpAddressesBulkPartialUpdate Method for IpamIpAddressesBulkPartialUpdate

Partial update a list of IP address objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkPartialUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressesBulkPartialUpdate(ctx context.Context) ApiIpamIpAddressesBulkPartialUpdateRequest {
	return ApiIpamIpAddressesBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []IPAddress
func (a *IpamAPIService) IpamIpAddressesBulkPartialUpdateExecute(r ApiIpamIpAddressesBulkPartialUpdateRequest) ([]IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableIPAddressRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableIPAddressRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableIPAddressRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesBulkUpdateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	bulkWritableIPAddressRequest *[]BulkWritableIPAddressRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressesBulkUpdateRequest) BulkWritableIPAddressRequest(bulkWritableIPAddressRequest []BulkWritableIPAddressRequest) ApiIpamIpAddressesBulkUpdateRequest {
	r.bulkWritableIPAddressRequest = &bulkWritableIPAddressRequest
	return r
}

func (r ApiIpamIpAddressesBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressesBulkUpdateRequest) Execute() ([]IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesBulkUpdateExecute(r)
}

/*
IpamIpAddressesBulkUpdate Method for IpamIpAddressesBulkUpdate

Update a list of IP address objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesBulkUpdateRequest
*/
func (a *IpamAPIService) IpamIpAddressesBulkUpdate(ctx context.Context) ApiIpamIpAddressesBulkUpdateRequest {
	return ApiIpamIpAddressesBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []IPAddress
func (a *IpamAPIService) IpamIpAddressesBulkUpdateExecute(r ApiIpamIpAddressesBulkUpdateRequest) ([]IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressesBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableIPAddressRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableIPAddressRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableIPAddressRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesCreateRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	iPAddressRequest *IPAddressRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressesCreateRequest) IPAddressRequest(iPAddressRequest IPAddressRequest) ApiIpamIpAddressesCreateRequest {
	r.iPAddressRequest = &iPAddressRequest
	return r
}

func (r ApiIpamIpAddressesCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesCreateRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressesCreateRequest) Execute() (*IPAddress, *http.Response, error) {
	return r.ApiService.IpamIpAddressesCreateExecute(r)
}

/*
IpamIpAddressesCreate Method for IpamIpAddressesCreate

Create one or more IP address objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIpamIpAddressesCreateRequest
*/
func (a *IpamAPIService) IpamIpAddressesCreate(ctx context.Context) ApiIpamIpAddressesCreateRequest {
	return ApiIpamIpAddressesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IPAddress
func (a *IpamAPIService) IpamIpAddressesCreateExecute(r ApiIpamIpAddressesCreateRequest) (*IPAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IPAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iPAddressRequest == nil {
		return localVarReturnValue, nil, reportError("iPAddressRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iPAddressRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIpamIpAddressesDestroyRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiIpamIpAddressesDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesDestroyRequest {
	r.format = &format
	return r
}

func (r ApiIpamIpAddressesDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.IpamIpAddressesDestroyExecute(r)
}

/*
IpamIpAddressesDestroy Method for IpamIpAddressesDestroy

Destroy a IP address object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this IP address.
 @return ApiIpamIpAddressesDestroyRequest
*/
func (a *IpamAPIService) IpamIpAddressesDestroy(ctx context.Context, id string) ApiIpamIpAddressesDestroyRequest {
	return ApiIpamIpAddressesDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *IpamAPIService) IpamIpAddressesDestroyExecute(r ApiIpamIpAddressesDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IpamAPIService.IpamIpAddressesDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ipam/ip-addresses/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIpamIpAddressesListRequest struct {
	ctx context.Context
	ApiService *IpamAPIService
	address *[]string
	contacts *[]string
	contactsIsnull *bool
	contactsN *string
	created *[]time.Time
	createdGt *[]time.Time
	createdGte *[]time.Time
	createdIsnull *bool
	createdLt *[]time.Time
	createdLte *[]time.Time
	createdN *[]time.Time
	device *[]string
	deviceId *[]string
	dnsName *[]string
	dnsNameIc *[]string
	dnsNameIe *[]string
	dnsNameIew *[]string
	dnsNameIre *[]string
	dnsNameIsw *[]string
	dnsNameN *[]string
	dnsNameNic *[]string
	dnsNameNie *[]string
	dnsNameNiew *[]string
	dnsNameNire *[]string
	dnsNameNisw *[]string
	dnsNameNre *[]string
	dnsNameRe *[]string
	dynamicGroups *[]string
	dynamicGroupsN *string
	format *CircuitsCircuitTerminationsListFormatParameter
	hasInterfaceAssignments *bool
	hasNatInside *bool
	id *[]string
	idIc *[]string
	idIe *[]string
	idIew *[]string
	idIre *[]string
	idIsw *[]string
	idN *[]string
	idNic *[]string
	idNie *[]string
	idNiew *[]string
	idNire *[]string
	idNisw *[]string
	idNre *[]string
	idRe *[]string
	interfaces *[]string
	interfacesIsnull *bool
	interfacesN *[]string
	ipVersion *int32
	lastUpdated *[]time.Time
	lastUpdatedGt *[]time.Time
	lastUpdatedGte *[]time.Time
	lastUpdatedIsnull *bool
	lastUpdatedLt *[]time.Time
	lastUpdatedLte *[]time.Time
	lastUpdatedN *[]time.Time
	limit *int32
	maskLength *[]int32
	maskLengthGt *[]int32
	maskLengthGte *[]int32
	maskLengthLt *[]int32
	maskLengthLte *[]int32
	maskLengthN *[]int32
	namespace *[]string
	namespaceN *[]string
	natInside *[]string
	natInsideIsnull *bool
	natInsideN *[]string
	offset *int32
	parent *[]string
	parentIsnull *bool
	parentN *[]string
	prefix *[]string
	presentInVrf *string
	presentInVrfId *string
	q *string
	role *[]string
	roleIsnull *bool
	roleN *string
	sort *string
	status *[]string
	statusN *string
	tags *[]string
	tagsIsnull *bool
	tagsN *[]string
	teams *[]string
	teamsIsnull *bool
	teamsN *string
	tenant *[]string
	tenantIsnull *bool
	tenantN *[]string
	tenantGroup *[]string
	tenantGroupIsnull *bool
	tenantGroupN *[]string
	tenantId *[]*string
	tenantIdIsnull *bool
	tenantIdN *[]*string
	type_ *[]string
	typeIc *[]string
	typeIe *[]string
	typeIew *[]string
	typeIre *[]string
	typeIsw *[]string
	typeN *[]string
	typeNic *[]string
	typeNie *[]string
	typeNiew *[]string
	typeNire *[]string
	typeNisw *[]string
	typeNre *[]string
	typeRe *[]string
	virtualMachine *[]string
	virtualMachineId *[]string
	vmInterfaces *[]string
	vmInterfacesIsnull *bool
	vmInterfacesN *[]string
	vrfs *[]string
	vrfsIsnull *bool
	vrfsN *[]string
	depth *int32
}

// Address
func (r ApiIpamIpAddressesListRequest) Address(address []string) ApiIpamIpAddressesListRequest {
	r.address = &address
	return r
}

func (r ApiIpamIpAddressesListRequest) Contacts(contacts []string) ApiIpamIpAddressesListRequest {
	r.contacts = &contacts
	return r
}

// Contacts (name or ID) is null
func (r ApiIpamIpAddressesListRequest) ContactsIsnull(contactsIsnull bool) ApiIpamIpAddressesListRequest {
	r.contactsIsnull = &contactsIsnull
	return r
}

// Exclude Contacts (name or ID)
func (r ApiIpamIpAddressesListRequest) ContactsN(contactsN string) ApiIpamIpAddressesListRequest {
	r.contactsN = &contactsN
	return r
}

func (r ApiIpamIpAddressesListRequest) Created(created []time.Time) ApiIpamIpAddressesListRequest {
	r.created = &created
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedGt(createdGt []time.Time) ApiIpamIpAddressesListRequest {
	r.createdGt = &createdGt
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedGte(createdGte []time.Time) ApiIpamIpAddressesListRequest {
	r.createdGte = &createdGte
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedIsnull(createdIsnull bool) ApiIpamIpAddressesListRequest {
	r.createdIsnull = &createdIsnull
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedLt(createdLt []time.Time) ApiIpamIpAddressesListRequest {
	r.createdLt = &createdLt
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedLte(createdLte []time.Time) ApiIpamIpAddressesListRequest {
	r.createdLte = &createdLte
	return r
}

func (r ApiIpamIpAddressesListRequest) CreatedN(createdN []time.Time) ApiIpamIpAddressesListRequest {
	r.createdN = &createdN
	return r
}

// Device (name)
func (r ApiIpamIpAddressesListRequest) Device(device []string) ApiIpamIpAddressesListRequest {
	r.device = &device
	return r
}

// Device (ID)
func (r ApiIpamIpAddressesListRequest) DeviceId(deviceId []string) ApiIpamIpAddressesListRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsName(dnsName []string) ApiIpamIpAddressesListRequest {
	r.dnsName = &dnsName
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIc(dnsNameIc []string) ApiIpamIpAddressesListRequest {
	r.dnsNameIc = &dnsNameIc
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIe(dnsNameIe []string) ApiIpamIpAddressesListRequest {
	r.dnsNameIe = &dnsNameIe
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIew(dnsNameIew []string) ApiIpamIpAddressesListRequest {
	r.dnsNameIew = &dnsNameIew
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIre(dnsNameIre []string) ApiIpamIpAddressesListRequest {
	r.dnsNameIre = &dnsNameIre
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameIsw(dnsNameIsw []string) ApiIpamIpAddressesListRequest {
	r.dnsNameIsw = &dnsNameIsw
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameN(dnsNameN []string) ApiIpamIpAddressesListRequest {
	r.dnsNameN = &dnsNameN
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNic(dnsNameNic []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNic = &dnsNameNic
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNie(dnsNameNie []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNie = &dnsNameNie
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNiew(dnsNameNiew []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNiew = &dnsNameNiew
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNire(dnsNameNire []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNire = &dnsNameNire
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNisw(dnsNameNisw []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNisw = &dnsNameNisw
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameNre(dnsNameNre []string) ApiIpamIpAddressesListRequest {
	r.dnsNameNre = &dnsNameNre
	return r
}

func (r ApiIpamIpAddressesListRequest) DnsNameRe(dnsNameRe []string) ApiIpamIpAddressesListRequest {
	r.dnsNameRe = &dnsNameRe
	return r
}

func (r ApiIpamIpAddressesListRequest) DynamicGroups(dynamicGroups []string) ApiIpamIpAddressesListRequest {
	r.dynamicGroups = &dynamicGroups
	return r
}

// Exclude Dynamic groups (name or ID)
func (r ApiIpamIpAddressesListRequest) DynamicGroupsN(dynamicGroupsN string) ApiIpamIpAddressesListRequest {
	r.dynamicGroupsN = &dynamicGroupsN
	return r
}

func (r ApiIpamIpAddressesListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiIpamIpAddressesListRequest {
	r.format = &format
	return r
}

// Has Interface Assignments
func (r ApiIpamIpAddressesListRequest) HasInterfaceAssignments(hasInterfaceAssignments bool) ApiIpamIpAddressesListRequest {
	r.hasInterfaceAssignments = &hasInterfaceAssignments
	return r
}

// Has NAT Inside
func (r ApiIpamIpAddressesListRequest) HasNatInside(hasNatInside bool) ApiIpamIpAddressesListRequest {
	r.hasNatInside = &hasNatInside
	return r
}

// Unique object identifier, either a UUID primary key or a composite key.
func (r ApiIpamIpAddressesListRequest) Id(id []string) ApiIpamIpAddressesListRequest {
	r.id = &id
	return r
}

func (r ApiIpamIpAddressesListRequest) IdIc(idIc []string) ApiIpamIpAddressesListRequest {
	r.idIc = &idIc
	return r
}

func (r ApiIpamIpAddressesListRequest) IdIe(idIe []string) ApiIpamIpAddressesListRequest {
	r.idIe = &idIe
	return r
}

func (r ApiIpamIpAddressesListRequest) IdIew(idIew []string) ApiIpamIpAddressesListRequest {
	r.idIew = &idIew
	return r
}

func (r ApiIpamIpAddressesListRequest) IdIre(idIre []string) ApiIpamIpAddressesListRequest {
	r.idIre = &idIre
	return r
}

func (r ApiIpamIpAddressesListRequest) IdIsw(idIsw []string) ApiIpamIpAddressesListRequest {
	r.idIsw = &idIsw
	return r
}

func (r ApiIpamIpAddressesListRequest) IdN(idN []string) ApiIpamIpAddressesListRequest {
	r.idN = &idN
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNic(idNic []string) ApiIpamIpAddressesListRequest {
	r.idNic = &idNic
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNie(idNie []string) ApiIpamIpAddressesListRequest {
	r.idNie = &idNie
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNiew(idNiew []string) ApiIpamIpAddressesListRequest {
	r.idNiew = &idNiew
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNire(idNire []string) ApiIpamIpAddressesListRequest {
	r.idNire = &idNire
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNisw(idNisw []string) ApiIpamIpAddressesListRequest {
	r.idNisw = &idNisw
	return r
}

func (r ApiIpamIpAddressesListRequest) IdNre(idNre []string) ApiIpamIpAddressesListRequest {
	r.idNre = &idNre
	return r
}

func (r ApiIpamIpAddressesListRequest) IdRe(idRe []string) ApiIpamIpAddressesListRequest {
	r.idRe = &idRe
	return r
}

func (r ApiIpamIpAddressesListRequest) Interfaces(interfaces []string) ApiIpamIpAddressesListRequest {
	r.interfaces = &interfaces
	return r
}

// Interfaces (ID or name) is null
func (r ApiIpamIpAddressesListRequest) InterfacesIsnull(interfacesIsnull bool) ApiIpamIpAddressesListRequest {
	r.interfacesIsnull = &interfacesIsnull
	return r
}

func (r ApiIpamIpAddressesListRequest) InterfacesN(interfacesN []string) ApiIpamIpAddressesListRequest {
	r.interfacesN = &interfacesN
	return r
}

func (r ApiIpamIpAddressesListRequest) IpVersion(ipVersion int32) ApiIpamIpAddressesListRequest {
	r.ipVersion = &ipVersion
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdated(lastUpdated []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdated = &lastUpdated
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedGt(lastUpdatedGt []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdatedGt = &lastUpdatedGt
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedGte(lastUpdatedGte []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdatedGte = &lastUpdatedGte
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedIsnull(lastUpdatedIsnull bool) ApiIpamIpAddressesListRequest {
	r.lastUpdatedIsnull = &lastUpdatedIsnull
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedLt(lastUpdatedLt []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdatedLt = &lastUpdatedLt
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedLte(lastUpdatedLte []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdatedLte = &lastUpdatedLte
	return r
}

func (r ApiIpamIpAddressesListRequest) LastUpdatedN(lastUpdatedN []time.Time) ApiIpamIpAddressesListRequest {
	r.lastUpdatedN = &lastUpdatedN
	return r
}

// Number of results to return per page.
func (r ApiIpamIpAddressesListRequest) Limit(limit int32) ApiIpamIpAddressesListRequest {
	r.limit = &limit
	return r
}

func (r ApiIpamIpAddressesListRequest) MaskLength(maskLength []int32) ApiIpamIpAddressesListRequest {
	r.maskLength = &maskLength
	return r
}

func (r ApiIpamIpAddressesListRequest) MaskLengthGt(maskLengthGt []int32) ApiIpamIpAddressesListRequest {
	r.maskLengthGt = &maskLengthGt
	return r
}

[...]
