
/*
 * API Documentation
 *
 * Source of truth and network automation platform
 *
 * API version: 2.2.5 (2.2)
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package go-nautobot

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type DcimApiService service
/*
DcimApiService
Destroy a list of cable objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param optional nil or *DcimApiDcimCablesBulkDestroyOpts - Optional Parameters:
     * @param "Format" (optional.String) - 

*/

type DcimApiDcimCablesBulkDestroyOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesBulkDestroy(ctx context.Context, body []BulkOperationRequest, localVarOptionals *DcimApiDcimCablesBulkDestroyOpts) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Delete")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
DcimApiService
Partial update a list of cable objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param optional nil or *DcimApiDcimCablesBulkPartialUpdateOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
@return []Cable
*/

type DcimApiDcimCablesBulkPartialUpdateOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesBulkPartialUpdate(ctx context.Context, body []PatchedBulkWritableCableRequest, localVarOptionals *DcimApiDcimCablesBulkPartialUpdateOpts) ([]Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Patch")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue []Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v []Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Update a list of cable objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param optional nil or *DcimApiDcimCablesBulkUpdateOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
@return []Cable
*/

type DcimApiDcimCablesBulkUpdateOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesBulkUpdate(ctx context.Context, body []BulkWritableCableRequest, localVarOptionals *DcimApiDcimCablesBulkUpdateOpts) ([]Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Put")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue []Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v []Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Create one or more cable objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param optional nil or *DcimApiDcimCablesCreateOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
@return Cable
*/

type DcimApiDcimCablesCreateOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesCreate(ctx context.Context, body WritableCableRequest, localVarOptionals *DcimApiDcimCablesCreateOpts) (Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 201 {
			var v Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Destroy a cable object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesDestroyOpts - Optional Parameters:
     * @param "Format" (optional.String) - 

*/

type DcimApiDcimCablesDestroyOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesDestroy(ctx context.Context, id string, localVarOptionals *DcimApiDcimCablesDestroyOpts) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Delete")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
DcimApiService
Retrieve a list of cable objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *DcimApiDcimCablesListOpts - Optional Parameters:
     * @param "Color" (optional.Interface of []string) - 
     * @param "ColorIc" (optional.Interface of []string) - 
     * @param "ColorIe" (optional.Interface of []string) - 
     * @param "ColorIew" (optional.Interface of []string) - 
     * @param "ColorIre" (optional.Interface of []string) - 
     * @param "ColorIsw" (optional.Interface of []string) - 
     * @param "ColorN" (optional.Interface of []string) - 
     * @param "ColorNic" (optional.Interface of []string) - 
     * @param "ColorNie" (optional.Interface of []string) - 
     * @param "ColorNiew" (optional.Interface of []string) - 
     * @param "ColorNire" (optional.Interface of []string) - 
     * @param "ColorNisw" (optional.Interface of []string) - 
     * @param "ColorNre" (optional.Interface of []string) - 
     * @param "ColorRe" (optional.Interface of []string) - 
     * @param "Created" (optional.Interface of []time.Time) - 
     * @param "CreatedGt" (optional.Interface of []time.Time) - 
     * @param "CreatedGte" (optional.Interface of []time.Time) - 
     * @param "CreatedIsnull" (optional.Bool) - 
     * @param "CreatedLt" (optional.Interface of []time.Time) - 
     * @param "CreatedLte" (optional.Interface of []time.Time) - 
     * @param "CreatedN" (optional.Interface of []time.Time) - 
     * @param "Device" (optional.Interface of []string) -  Device (name)
     * @param "DeviceId" (optional.Interface of []string) -  Device (ID)
     * @param "Format" (optional.String) - 
     * @param "Id" (optional.Interface of []string) -  Unique object identifier, either a UUID primary key or a composite key.
     * @param "IdIc" (optional.Interface of []string) - 
     * @param "IdIe" (optional.Interface of []string) - 
     * @param "IdIew" (optional.Interface of []string) - 
     * @param "IdIre" (optional.Interface of []string) - 
     * @param "IdIsw" (optional.Interface of []string) - 
     * @param "IdN" (optional.Interface of []string) - 
     * @param "IdNic" (optional.Interface of []string) - 
     * @param "IdNie" (optional.Interface of []string) - 
     * @param "IdNiew" (optional.Interface of []string) - 
     * @param "IdNire" (optional.Interface of []string) - 
     * @param "IdNisw" (optional.Interface of []string) - 
     * @param "IdNre" (optional.Interface of []string) - 
     * @param "IdRe" (optional.Interface of []string) - 
     * @param "Label" (optional.Interface of []string) - 
     * @param "LabelIc" (optional.Interface of []string) - 
     * @param "LabelIe" (optional.Interface of []string) - 
     * @param "LabelIew" (optional.Interface of []string) - 
     * @param "LabelIre" (optional.Interface of []string) - 
     * @param "LabelIsw" (optional.Interface of []string) - 
     * @param "LabelN" (optional.Interface of []string) - 
     * @param "LabelNic" (optional.Interface of []string) - 
     * @param "LabelNie" (optional.Interface of []string) - 
     * @param "LabelNiew" (optional.Interface of []string) - 
     * @param "LabelNire" (optional.Interface of []string) - 
     * @param "LabelNisw" (optional.Interface of []string) - 
     * @param "LabelNre" (optional.Interface of []string) - 
     * @param "LabelRe" (optional.Interface of []string) - 
     * @param "LastUpdated" (optional.Interface of []time.Time) - 
     * @param "LastUpdatedGt" (optional.Interface of []time.Time) - 
     * @param "LastUpdatedGte" (optional.Interface of []time.Time) - 
     * @param "LastUpdatedIsnull" (optional.Bool) - 
     * @param "LastUpdatedLt" (optional.Interface of []time.Time) - 
     * @param "LastUpdatedLte" (optional.Interface of []time.Time) - 
     * @param "LastUpdatedN" (optional.Interface of []time.Time) - 
     * @param "Length" (optional.Interface of []int32) - 
     * @param "LengthGt" (optional.Interface of []int32) - 
     * @param "LengthGte" (optional.Interface of []int32) - 
     * @param "LengthIsnull" (optional.Bool) - 
     * @param "LengthLt" (optional.Interface of []int32) - 
     * @param "LengthLte" (optional.Interface of []int32) - 
     * @param "LengthN" (optional.Interface of []int32) - 
     * @param "LengthUnit" (optional.Interface of []string) - 
     * @param "LengthUnitIc" (optional.Interface of []string) - 
     * @param "LengthUnitIe" (optional.Interface of []string) - 
     * @param "LengthUnitIew" (optional.Interface of []string) - 
     * @param "LengthUnitIre" (optional.Interface of []string) - 
     * @param "LengthUnitIsw" (optional.Interface of []string) - 
     * @param "LengthUnitN" (optional.Interface of []string) - 
     * @param "LengthUnitNic" (optional.Interface of []string) - 
     * @param "LengthUnitNie" (optional.Interface of []string) - 
     * @param "LengthUnitNiew" (optional.Interface of []string) - 
     * @param "LengthUnitNire" (optional.Interface of []string) - 
     * @param "LengthUnitNisw" (optional.Interface of []string) - 
     * @param "LengthUnitNre" (optional.Interface of []string) - 
     * @param "LengthUnitRe" (optional.Interface of []string) - 
     * @param "Limit" (optional.Int32) -  Number of results to return per page.
     * @param "Location" (optional.Interface of []string) -  Location (name)
     * @param "LocationId" (optional.Interface of []string) -  Location (ID)
     * @param "Offset" (optional.Int32) -  The initial index from which to return the results.
     * @param "Q" (optional.String) -  Search
     * @param "Rack" (optional.Interface of []string) -  Rack (name)
     * @param "RackId" (optional.Interface of []string) -  Rack (ID)
     * @param "Sort" (optional.String) -  Which field to use when ordering the results.
     * @param "Status" (optional.Interface of []string) - 
     * @param "StatusN" (optional.Interface of []string) - 
     * @param "Tags" (optional.Interface of []string) - 
     * @param "TagsIsnull" (optional.Bool) - 
     * @param "TagsN" (optional.Interface of []string) - 
     * @param "Tenant" (optional.Interface of []string) -  Tenant (name)
     * @param "TenantId" (optional.Interface of []string) -  Tenant (ID)
     * @param "TerminationAId" (optional.Interface of []string) - 
     * @param "TerminationAIdIc" (optional.Interface of []string) - 
     * @param "TerminationAIdIe" (optional.Interface of []string) - 
     * @param "TerminationAIdIew" (optional.Interface of []string) - 
     * @param "TerminationAIdIre" (optional.Interface of []string) - 
     * @param "TerminationAIdIsw" (optional.Interface of []string) - 
     * @param "TerminationAIdN" (optional.Interface of []string) - 
     * @param "TerminationAIdNic" (optional.Interface of []string) - 
     * @param "TerminationAIdNie" (optional.Interface of []string) - 
     * @param "TerminationAIdNiew" (optional.Interface of []string) - 
     * @param "TerminationAIdNire" (optional.Interface of []string) - 
     * @param "TerminationAIdNisw" (optional.Interface of []string) - 
     * @param "TerminationAIdNre" (optional.Interface of []string) - 
     * @param "TerminationAIdRe" (optional.Interface of []string) - 
     * @param "TerminationAType" (optional.Interface of []int32) - 
     * @param "TerminationATypeN" (optional.Interface of []int32) - 
     * @param "TerminationBId" (optional.Interface of []string) - 
     * @param "TerminationBIdIc" (optional.Interface of []string) - 
     * @param "TerminationBIdIe" (optional.Interface of []string) - 
     * @param "TerminationBIdIew" (optional.Interface of []string) - 
     * @param "TerminationBIdIre" (optional.Interface of []string) - 
     * @param "TerminationBIdIsw" (optional.Interface of []string) - 
     * @param "TerminationBIdN" (optional.Interface of []string) - 
     * @param "TerminationBIdNic" (optional.Interface of []string) - 
     * @param "TerminationBIdNie" (optional.Interface of []string) - 
     * @param "TerminationBIdNiew" (optional.Interface of []string) - 
     * @param "TerminationBIdNire" (optional.Interface of []string) - 
     * @param "TerminationBIdNisw" (optional.Interface of []string) - 
     * @param "TerminationBIdNre" (optional.Interface of []string) - 
     * @param "TerminationBIdRe" (optional.Interface of []string) - 
     * @param "TerminationBType" (optional.Interface of []int32) - 
     * @param "TerminationBTypeN" (optional.Interface of []int32) - 
     * @param "TerminationType" (optional.Interface of []string) - 
     * @param "Type_" (optional.Interface of []string) - 
     * @param "TypeIc" (optional.Interface of []string) - 
     * @param "TypeIe" (optional.Interface of []string) - 
     * @param "TypeIew" (optional.Interface of []string) - 
     * @param "TypeIre" (optional.Interface of []string) - 
     * @param "TypeIsw" (optional.Interface of []string) - 
     * @param "TypeN" (optional.Interface of []string) - 
     * @param "TypeNic" (optional.Interface of []string) - 
     * @param "TypeNie" (optional.Interface of []string) - 
     * @param "TypeNiew" (optional.Interface of []string) - 
     * @param "TypeNire" (optional.Interface of []string) - 
     * @param "TypeNisw" (optional.Interface of []string) - 
     * @param "TypeNre" (optional.Interface of []string) - 
     * @param "TypeRe" (optional.Interface of []string) - 
     * @param "Depth" (optional.Int32) -  Serializer Depth
@return PaginatedCableList
*/

type DcimApiDcimCablesListOpts struct {
    Color optional.Interface
    ColorIc optional.Interface
    ColorIe optional.Interface
    ColorIew optional.Interface
    ColorIre optional.Interface
    ColorIsw optional.Interface
    ColorN optional.Interface
    ColorNic optional.Interface
    ColorNie optional.Interface
    ColorNiew optional.Interface
    ColorNire optional.Interface
    ColorNisw optional.Interface
    ColorNre optional.Interface
    ColorRe optional.Interface
    Created optional.Interface
    CreatedGt optional.Interface
    CreatedGte optional.Interface
    CreatedIsnull optional.Bool
    CreatedLt optional.Interface
    CreatedLte optional.Interface
    CreatedN optional.Interface
    Device optional.Interface
    DeviceId optional.Interface
    Format optional.String
    Id optional.Interface
    IdIc optional.Interface
    IdIe optional.Interface
    IdIew optional.Interface
    IdIre optional.Interface
    IdIsw optional.Interface
    IdN optional.Interface
    IdNic optional.Interface
    IdNie optional.Interface
    IdNiew optional.Interface
    IdNire optional.Interface
    IdNisw optional.Interface
    IdNre optional.Interface
    IdRe optional.Interface
    Label optional.Interface
    LabelIc optional.Interface
    LabelIe optional.Interface
    LabelIew optional.Interface
    LabelIre optional.Interface
    LabelIsw optional.Interface
    LabelN optional.Interface
    LabelNic optional.Interface
    LabelNie optional.Interface
    LabelNiew optional.Interface
    LabelNire optional.Interface
    LabelNisw optional.Interface
    LabelNre optional.Interface
    LabelRe optional.Interface
    LastUpdated optional.Interface
    LastUpdatedGt optional.Interface
    LastUpdatedGte optional.Interface
    LastUpdatedIsnull optional.Bool
    LastUpdatedLt optional.Interface
    LastUpdatedLte optional.Interface
    LastUpdatedN optional.Interface
    Length optional.Interface
    LengthGt optional.Interface
    LengthGte optional.Interface
    LengthIsnull optional.Bool
    LengthLt optional.Interface
    LengthLte optional.Interface
    LengthN optional.Interface
    LengthUnit optional.Interface
    LengthUnitIc optional.Interface
    LengthUnitIe optional.Interface
    LengthUnitIew optional.Interface
    LengthUnitIre optional.Interface
    LengthUnitIsw optional.Interface
    LengthUnitN optional.Interface
    LengthUnitNic optional.Interface
    LengthUnitNie optional.Interface
    LengthUnitNiew optional.Interface
    LengthUnitNire optional.Interface
    LengthUnitNisw optional.Interface
    LengthUnitNre optional.Interface
    LengthUnitRe optional.Interface
    Limit optional.Int32
    Location optional.Interface
    LocationId optional.Interface
    Offset optional.Int32
    Q optional.String
    Rack optional.Interface
    RackId optional.Interface
    Sort optional.String
    Status optional.Interface
    StatusN optional.Interface
    Tags optional.Interface
    TagsIsnull optional.Bool
    TagsN optional.Interface
    Tenant optional.Interface
    TenantId optional.Interface
    TerminationAId optional.Interface
    TerminationAIdIc optional.Interface
    TerminationAIdIe optional.Interface
    TerminationAIdIew optional.Interface
    TerminationAIdIre optional.Interface
    TerminationAIdIsw optional.Interface
    TerminationAIdN optional.Interface
    TerminationAIdNic optional.Interface
    TerminationAIdNie optional.Interface
    TerminationAIdNiew optional.Interface
    TerminationAIdNire optional.Interface
    TerminationAIdNisw optional.Interface
    TerminationAIdNre optional.Interface
    TerminationAIdRe optional.Interface
    TerminationAType optional.Interface
    TerminationATypeN optional.Interface
    TerminationBId optional.Interface
    TerminationBIdIc optional.Interface
    TerminationBIdIe optional.Interface
    TerminationBIdIew optional.Interface
    TerminationBIdIre optional.Interface
    TerminationBIdIsw optional.Interface
    TerminationBIdN optional.Interface
    TerminationBIdNic optional.Interface
    TerminationBIdNie optional.Interface
    TerminationBIdNiew optional.Interface
    TerminationBIdNire optional.Interface
    TerminationBIdNisw optional.Interface
    TerminationBIdNre optional.Interface
    TerminationBIdRe optional.Interface
    TerminationBType optional.Interface
    TerminationBTypeN optional.Interface
    TerminationType optional.Interface
    Type_ optional.Interface
    TypeIc optional.Interface
    TypeIe optional.Interface
    TypeIew optional.Interface
    TypeIre optional.Interface
    TypeIsw optional.Interface
    TypeN optional.Interface
    TypeNic optional.Interface
    TypeNie optional.Interface
    TypeNiew optional.Interface
    TypeNire optional.Interface
    TypeNisw optional.Interface
    TypeNre optional.Interface
    TypeRe optional.Interface
    Depth optional.Int32
}

func (a *DcimApiService) DcimCablesList(ctx context.Context, localVarOptionals *DcimApiDcimCablesListOpts) (PaginatedCableList, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue PaginatedCableList
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Color.IsSet() {
		localVarQueryParams.Add("color", parameterToString(localVarOptionals.Color.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorIc.IsSet() {
		localVarQueryParams.Add("color__ic", parameterToString(localVarOptionals.ColorIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorIe.IsSet() {
		localVarQueryParams.Add("color__ie", parameterToString(localVarOptionals.ColorIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorIew.IsSet() {
		localVarQueryParams.Add("color__iew", parameterToString(localVarOptionals.ColorIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorIre.IsSet() {
		localVarQueryParams.Add("color__ire", parameterToString(localVarOptionals.ColorIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorIsw.IsSet() {
		localVarQueryParams.Add("color__isw", parameterToString(localVarOptionals.ColorIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorN.IsSet() {
		localVarQueryParams.Add("color__n", parameterToString(localVarOptionals.ColorN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNic.IsSet() {
		localVarQueryParams.Add("color__nic", parameterToString(localVarOptionals.ColorNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNie.IsSet() {
		localVarQueryParams.Add("color__nie", parameterToString(localVarOptionals.ColorNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNiew.IsSet() {
		localVarQueryParams.Add("color__niew", parameterToString(localVarOptionals.ColorNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNire.IsSet() {
		localVarQueryParams.Add("color__nire", parameterToString(localVarOptionals.ColorNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNisw.IsSet() {
		localVarQueryParams.Add("color__nisw", parameterToString(localVarOptionals.ColorNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorNre.IsSet() {
		localVarQueryParams.Add("color__nre", parameterToString(localVarOptionals.ColorNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ColorRe.IsSet() {
		localVarQueryParams.Add("color__re", parameterToString(localVarOptionals.ColorRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Created.IsSet() {
		localVarQueryParams.Add("created", parameterToString(localVarOptionals.Created.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedGt.IsSet() {
		localVarQueryParams.Add("created__gt", parameterToString(localVarOptionals.CreatedGt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedGte.IsSet() {
		localVarQueryParams.Add("created__gte", parameterToString(localVarOptionals.CreatedGte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedIsnull.IsSet() {
		localVarQueryParams.Add("created__isnull", parameterToString(localVarOptionals.CreatedIsnull.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedLt.IsSet() {
		localVarQueryParams.Add("created__lt", parameterToString(localVarOptionals.CreatedLt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedLte.IsSet() {
		localVarQueryParams.Add("created__lte", parameterToString(localVarOptionals.CreatedLte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.CreatedN.IsSet() {
		localVarQueryParams.Add("created__n", parameterToString(localVarOptionals.CreatedN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Device.IsSet() {
		localVarQueryParams.Add("device", parameterToString(localVarOptionals.Device.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.DeviceId.IsSet() {
		localVarQueryParams.Add("device_id", parameterToString(localVarOptionals.DeviceId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Id.IsSet() {
		localVarQueryParams.Add("id", parameterToString(localVarOptionals.Id.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIc.IsSet() {
		localVarQueryParams.Add("id__ic", parameterToString(localVarOptionals.IdIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIe.IsSet() {
		localVarQueryParams.Add("id__ie", parameterToString(localVarOptionals.IdIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIew.IsSet() {
		localVarQueryParams.Add("id__iew", parameterToString(localVarOptionals.IdIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIre.IsSet() {
		localVarQueryParams.Add("id__ire", parameterToString(localVarOptionals.IdIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIsw.IsSet() {
		localVarQueryParams.Add("id__isw", parameterToString(localVarOptionals.IdIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdN.IsSet() {
		localVarQueryParams.Add("id__n", parameterToString(localVarOptionals.IdN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNic.IsSet() {
		localVarQueryParams.Add("id__nic", parameterToString(localVarOptionals.IdNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNie.IsSet() {
		localVarQueryParams.Add("id__nie", parameterToString(localVarOptionals.IdNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNiew.IsSet() {
		localVarQueryParams.Add("id__niew", parameterToString(localVarOptionals.IdNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNire.IsSet() {
		localVarQueryParams.Add("id__nire", parameterToString(localVarOptionals.IdNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNisw.IsSet() {
		localVarQueryParams.Add("id__nisw", parameterToString(localVarOptionals.IdNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNre.IsSet() {
		localVarQueryParams.Add("id__nre", parameterToString(localVarOptionals.IdNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdRe.IsSet() {
		localVarQueryParams.Add("id__re", parameterToString(localVarOptionals.IdRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Label.IsSet() {
		localVarQueryParams.Add("label", parameterToString(localVarOptionals.Label.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelIc.IsSet() {
		localVarQueryParams.Add("label__ic", parameterToString(localVarOptionals.LabelIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelIe.IsSet() {
		localVarQueryParams.Add("label__ie", parameterToString(localVarOptionals.LabelIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelIew.IsSet() {
		localVarQueryParams.Add("label__iew", parameterToString(localVarOptionals.LabelIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelIre.IsSet() {
		localVarQueryParams.Add("label__ire", parameterToString(localVarOptionals.LabelIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelIsw.IsSet() {
		localVarQueryParams.Add("label__isw", parameterToString(localVarOptionals.LabelIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelN.IsSet() {
		localVarQueryParams.Add("label__n", parameterToString(localVarOptionals.LabelN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNic.IsSet() {
		localVarQueryParams.Add("label__nic", parameterToString(localVarOptionals.LabelNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNie.IsSet() {
		localVarQueryParams.Add("label__nie", parameterToString(localVarOptionals.LabelNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNiew.IsSet() {
		localVarQueryParams.Add("label__niew", parameterToString(localVarOptionals.LabelNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNire.IsSet() {
		localVarQueryParams.Add("label__nire", parameterToString(localVarOptionals.LabelNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNisw.IsSet() {
		localVarQueryParams.Add("label__nisw", parameterToString(localVarOptionals.LabelNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelNre.IsSet() {
		localVarQueryParams.Add("label__nre", parameterToString(localVarOptionals.LabelNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LabelRe.IsSet() {
		localVarQueryParams.Add("label__re", parameterToString(localVarOptionals.LabelRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdated.IsSet() {
		localVarQueryParams.Add("last_updated", parameterToString(localVarOptionals.LastUpdated.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedGt.IsSet() {
		localVarQueryParams.Add("last_updated__gt", parameterToString(localVarOptionals.LastUpdatedGt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedGte.IsSet() {
		localVarQueryParams.Add("last_updated__gte", parameterToString(localVarOptionals.LastUpdatedGte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedIsnull.IsSet() {
		localVarQueryParams.Add("last_updated__isnull", parameterToString(localVarOptionals.LastUpdatedIsnull.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedLt.IsSet() {
		localVarQueryParams.Add("last_updated__lt", parameterToString(localVarOptionals.LastUpdatedLt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedLte.IsSet() {
		localVarQueryParams.Add("last_updated__lte", parameterToString(localVarOptionals.LastUpdatedLte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LastUpdatedN.IsSet() {
		localVarQueryParams.Add("last_updated__n", parameterToString(localVarOptionals.LastUpdatedN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Length.IsSet() {
		localVarQueryParams.Add("length", parameterToString(localVarOptionals.Length.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthGt.IsSet() {
		localVarQueryParams.Add("length__gt", parameterToString(localVarOptionals.LengthGt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthGte.IsSet() {
		localVarQueryParams.Add("length__gte", parameterToString(localVarOptionals.LengthGte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthIsnull.IsSet() {
		localVarQueryParams.Add("length__isnull", parameterToString(localVarOptionals.LengthIsnull.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.LengthLt.IsSet() {
		localVarQueryParams.Add("length__lt", parameterToString(localVarOptionals.LengthLt.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthLte.IsSet() {
		localVarQueryParams.Add("length__lte", parameterToString(localVarOptionals.LengthLte.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthN.IsSet() {
		localVarQueryParams.Add("length__n", parameterToString(localVarOptionals.LengthN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnit.IsSet() {
		localVarQueryParams.Add("length_unit", parameterToString(localVarOptionals.LengthUnit.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitIc.IsSet() {
		localVarQueryParams.Add("length_unit__ic", parameterToString(localVarOptionals.LengthUnitIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitIe.IsSet() {
		localVarQueryParams.Add("length_unit__ie", parameterToString(localVarOptionals.LengthUnitIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitIew.IsSet() {
		localVarQueryParams.Add("length_unit__iew", parameterToString(localVarOptionals.LengthUnitIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitIre.IsSet() {
		localVarQueryParams.Add("length_unit__ire", parameterToString(localVarOptionals.LengthUnitIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitIsw.IsSet() {
		localVarQueryParams.Add("length_unit__isw", parameterToString(localVarOptionals.LengthUnitIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitN.IsSet() {
		localVarQueryParams.Add("length_unit__n", parameterToString(localVarOptionals.LengthUnitN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNic.IsSet() {
		localVarQueryParams.Add("length_unit__nic", parameterToString(localVarOptionals.LengthUnitNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNie.IsSet() {
		localVarQueryParams.Add("length_unit__nie", parameterToString(localVarOptionals.LengthUnitNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNiew.IsSet() {
		localVarQueryParams.Add("length_unit__niew", parameterToString(localVarOptionals.LengthUnitNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNire.IsSet() {
		localVarQueryParams.Add("length_unit__nire", parameterToString(localVarOptionals.LengthUnitNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNisw.IsSet() {
		localVarQueryParams.Add("length_unit__nisw", parameterToString(localVarOptionals.LengthUnitNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitNre.IsSet() {
		localVarQueryParams.Add("length_unit__nre", parameterToString(localVarOptionals.LengthUnitNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LengthUnitRe.IsSet() {
		localVarQueryParams.Add("length_unit__re", parameterToString(localVarOptionals.LengthUnitRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Location.IsSet() {
		localVarQueryParams.Add("location", parameterToString(localVarOptionals.Location.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.LocationId.IsSet() {
		localVarQueryParams.Add("location_id", parameterToString(localVarOptionals.LocationId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Q.IsSet() {
		localVarQueryParams.Add("q", parameterToString(localVarOptionals.Q.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Rack.IsSet() {
		localVarQueryParams.Add("rack", parameterToString(localVarOptionals.Rack.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.RackId.IsSet() {
		localVarQueryParams.Add("rack_id", parameterToString(localVarOptionals.RackId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Sort.IsSet() {
		localVarQueryParams.Add("sort", parameterToString(localVarOptionals.Sort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Status.IsSet() {
		localVarQueryParams.Add("status", parameterToString(localVarOptionals.Status.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.StatusN.IsSet() {
		localVarQueryParams.Add("status__n", parameterToString(localVarOptionals.StatusN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Tags.IsSet() {
		localVarQueryParams.Add("tags", parameterToString(localVarOptionals.Tags.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TagsIsnull.IsSet() {
		localVarQueryParams.Add("tags__isnull", parameterToString(localVarOptionals.TagsIsnull.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.TagsN.IsSet() {
		localVarQueryParams.Add("tags__n", parameterToString(localVarOptionals.TagsN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Tenant.IsSet() {
		localVarQueryParams.Add("tenant", parameterToString(localVarOptionals.Tenant.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TenantId.IsSet() {
		localVarQueryParams.Add("tenant_id", parameterToString(localVarOptionals.TenantId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAId.IsSet() {
		localVarQueryParams.Add("termination_a_id", parameterToString(localVarOptionals.TerminationAId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdIc.IsSet() {
		localVarQueryParams.Add("termination_a_id__ic", parameterToString(localVarOptionals.TerminationAIdIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdIe.IsSet() {
		localVarQueryParams.Add("termination_a_id__ie", parameterToString(localVarOptionals.TerminationAIdIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdIew.IsSet() {
		localVarQueryParams.Add("termination_a_id__iew", parameterToString(localVarOptionals.TerminationAIdIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdIre.IsSet() {
		localVarQueryParams.Add("termination_a_id__ire", parameterToString(localVarOptionals.TerminationAIdIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdIsw.IsSet() {
		localVarQueryParams.Add("termination_a_id__isw", parameterToString(localVarOptionals.TerminationAIdIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdN.IsSet() {
		localVarQueryParams.Add("termination_a_id__n", parameterToString(localVarOptionals.TerminationAIdN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNic.IsSet() {
		localVarQueryParams.Add("termination_a_id__nic", parameterToString(localVarOptionals.TerminationAIdNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNie.IsSet() {
		localVarQueryParams.Add("termination_a_id__nie", parameterToString(localVarOptionals.TerminationAIdNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNiew.IsSet() {
		localVarQueryParams.Add("termination_a_id__niew", parameterToString(localVarOptionals.TerminationAIdNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNire.IsSet() {
		localVarQueryParams.Add("termination_a_id__nire", parameterToString(localVarOptionals.TerminationAIdNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNisw.IsSet() {
		localVarQueryParams.Add("termination_a_id__nisw", parameterToString(localVarOptionals.TerminationAIdNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdNre.IsSet() {
		localVarQueryParams.Add("termination_a_id__nre", parameterToString(localVarOptionals.TerminationAIdNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAIdRe.IsSet() {
		localVarQueryParams.Add("termination_a_id__re", parameterToString(localVarOptionals.TerminationAIdRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationAType.IsSet() {
		localVarQueryParams.Add("termination_a_type", parameterToString(localVarOptionals.TerminationAType.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationATypeN.IsSet() {
		localVarQueryParams.Add("termination_a_type__n", parameterToString(localVarOptionals.TerminationATypeN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBId.IsSet() {
		localVarQueryParams.Add("termination_b_id", parameterToString(localVarOptionals.TerminationBId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdIc.IsSet() {
		localVarQueryParams.Add("termination_b_id__ic", parameterToString(localVarOptionals.TerminationBIdIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdIe.IsSet() {
		localVarQueryParams.Add("termination_b_id__ie", parameterToString(localVarOptionals.TerminationBIdIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdIew.IsSet() {
		localVarQueryParams.Add("termination_b_id__iew", parameterToString(localVarOptionals.TerminationBIdIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdIre.IsSet() {
		localVarQueryParams.Add("termination_b_id__ire", parameterToString(localVarOptionals.TerminationBIdIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdIsw.IsSet() {
		localVarQueryParams.Add("termination_b_id__isw", parameterToString(localVarOptionals.TerminationBIdIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdN.IsSet() {
		localVarQueryParams.Add("termination_b_id__n", parameterToString(localVarOptionals.TerminationBIdN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNic.IsSet() {
		localVarQueryParams.Add("termination_b_id__nic", parameterToString(localVarOptionals.TerminationBIdNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNie.IsSet() {
		localVarQueryParams.Add("termination_b_id__nie", parameterToString(localVarOptionals.TerminationBIdNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNiew.IsSet() {
		localVarQueryParams.Add("termination_b_id__niew", parameterToString(localVarOptionals.TerminationBIdNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNire.IsSet() {
		localVarQueryParams.Add("termination_b_id__nire", parameterToString(localVarOptionals.TerminationBIdNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNisw.IsSet() {
		localVarQueryParams.Add("termination_b_id__nisw", parameterToString(localVarOptionals.TerminationBIdNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdNre.IsSet() {
		localVarQueryParams.Add("termination_b_id__nre", parameterToString(localVarOptionals.TerminationBIdNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBIdRe.IsSet() {
		localVarQueryParams.Add("termination_b_id__re", parameterToString(localVarOptionals.TerminationBIdRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBType.IsSet() {
		localVarQueryParams.Add("termination_b_type", parameterToString(localVarOptionals.TerminationBType.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationBTypeN.IsSet() {
		localVarQueryParams.Add("termination_b_type__n", parameterToString(localVarOptionals.TerminationBTypeN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TerminationType.IsSet() {
		localVarQueryParams.Add("termination_type", parameterToString(localVarOptionals.TerminationType.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarQueryParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeIc.IsSet() {
		localVarQueryParams.Add("type__ic", parameterToString(localVarOptionals.TypeIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeIe.IsSet() {
		localVarQueryParams.Add("type__ie", parameterToString(localVarOptionals.TypeIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeIew.IsSet() {
		localVarQueryParams.Add("type__iew", parameterToString(localVarOptionals.TypeIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeIre.IsSet() {
		localVarQueryParams.Add("type__ire", parameterToString(localVarOptionals.TypeIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeIsw.IsSet() {
		localVarQueryParams.Add("type__isw", parameterToString(localVarOptionals.TypeIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeN.IsSet() {
		localVarQueryParams.Add("type__n", parameterToString(localVarOptionals.TypeN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNic.IsSet() {
		localVarQueryParams.Add("type__nic", parameterToString(localVarOptionals.TypeNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNie.IsSet() {
		localVarQueryParams.Add("type__nie", parameterToString(localVarOptionals.TypeNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNiew.IsSet() {
		localVarQueryParams.Add("type__niew", parameterToString(localVarOptionals.TypeNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNire.IsSet() {
		localVarQueryParams.Add("type__nire", parameterToString(localVarOptionals.TypeNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNisw.IsSet() {
		localVarQueryParams.Add("type__nisw", parameterToString(localVarOptionals.TypeNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeNre.IsSet() {
		localVarQueryParams.Add("type__nre", parameterToString(localVarOptionals.TypeNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.TypeRe.IsSet() {
		localVarQueryParams.Add("type__re", parameterToString(localVarOptionals.TypeRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Depth.IsSet() {
		localVarQueryParams.Add("depth", parameterToString(localVarOptionals.Depth.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v PaginatedCableList
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
API methods for returning or creating notes on an object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesNotesCreateOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
@return Note
*/

type DcimApiDcimCablesNotesCreateOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesNotesCreate(ctx context.Context, body NoteInputRequest, id string, localVarOptionals *DcimApiDcimCablesNotesCreateOpts) (Note, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue Note
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 201 {
			var v Note
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
API methods for returning or creating notes on an object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesNotesListOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
     * @param "Limit" (optional.Int32) -  Number of results to return per page.
     * @param "Offset" (optional.Int32) -  The initial index from which to return the results.
     * @param "Depth" (optional.Int32) -  Serializer Depth
@return PaginatedNoteList
*/

type DcimApiDcimCablesNotesListOpts struct {
    Format optional.String
    Limit optional.Int32
    Offset optional.Int32
    Depth optional.Int32
}

func (a *DcimApiService) DcimCablesNotesList(ctx context.Context, id string, localVarOptionals *DcimApiDcimCablesNotesListOpts) (PaginatedNoteList, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue PaginatedNoteList
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/notes/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Depth.IsSet() {
		localVarQueryParams.Add("depth", parameterToString(localVarOptionals.Depth.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v PaginatedNoteList
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Partial update a cable object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesPartialUpdateOpts - Optional Parameters:
     * @param "Body" (optional.Interface of PatchedWritableCableRequest) - 
     * @param "Format" (optional.String) - 
@return Cable
*/

type DcimApiDcimCablesPartialUpdateOpts struct {
    Body optional.Interface
    Format optional.String
}

func (a *DcimApiService) DcimCablesPartialUpdate(ctx context.Context, id string, localVarOptionals *DcimApiDcimCablesPartialUpdateOpts) (Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Patch")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	if localVarOptionals != nil && localVarOptionals.Body.IsSet() {
		
		localVarOptionalBody:= localVarOptionals.Body.Value()
		localVarPostBody = &localVarOptionalBody
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Retrieve a cable object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesRetrieveOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
     * @param "Depth" (optional.Int32) -  Serializer Depth
@return Cable
*/

type DcimApiDcimCablesRetrieveOpts struct {
    Format optional.String
    Depth optional.Int32
}

func (a *DcimApiService) DcimCablesRetrieve(ctx context.Context, id string, localVarOptionals *DcimApiDcimCablesRetrieveOpts) (Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Depth.IsSet() {
		localVarQueryParams.Add("depth", parameterToString(localVarOptionals.Depth.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Update a cable object.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param body
 * @param id A UUID string identifying this cable.
 * @param optional nil or *DcimApiDcimCablesUpdateOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
@return Cable
*/

type DcimApiDcimCablesUpdateOpts struct {
    Format optional.String
}

func (a *DcimApiService) DcimCablesUpdate(ctx context.Context, body WritableCableRequest, id string, localVarOptionals *DcimApiDcimCablesUpdateOpts) (Cable, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Put")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue Cable
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/cables/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	localVarPostBody = &body
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v Cable
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer interface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors via a protocol such as LLDP. Two query parameters must be included in the request:  * &#x60;peer_device&#x60;: The name of the peer device * &#x60;peer_interface&#x60;: The name of the peer interface
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param peerDevice The name of the peer device
 * @param peerInterface The name of the peer interface
 * @param optional nil or *DcimApiDcimConnectedDeviceListOpts - Optional Parameters:
     * @param "Format" (optional.String) - 
     * @param "Depth" (optional.Int32) -  Serializer Depth
@return []Device
*/

type DcimApiDcimConnectedDeviceListOpts struct {
    Format optional.String
    Depth optional.Int32
}

func (a *DcimApiService) DcimConnectedDeviceList(ctx context.Context, peerDevice string, peerInterface string, localVarOptionals *DcimApiDcimConnectedDeviceListOpts) ([]Device, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue []Device
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/connected-device/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	localVarQueryParams.Add("peer_device", parameterToString(peerDevice, ""))
	localVarQueryParams.Add("peer_interface", parameterToString(peerInterface, ""))
	if localVarOptionals != nil && localVarOptionals.Depth.IsSet() {
		localVarQueryParams.Add("depth", parameterToString(localVarOptionals.Depth.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v []Device
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
/*
DcimApiService
Retrieve a list of console port objects.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *DcimApiDcimConsoleConnectionsListOpts - Optional Parameters:
     * @param "Device" (optional.Interface of []string) -  Device (name)
     * @param "DeviceId" (optional.Interface of []string) -  Device (ID)
     * @param "Format" (optional.String) - 
     * @param "Id" (optional.Interface of []string) -  Unique object identifier, either a UUID primary key or a composite key.
     * @param "IdIc" (optional.Interface of []string) - 
     * @param "IdIe" (optional.Interface of []string) - 
     * @param "IdIew" (optional.Interface of []string) - 
     * @param "IdIre" (optional.Interface of []string) - 
     * @param "IdIsw" (optional.Interface of []string) - 
     * @param "IdN" (optional.Interface of []string) - 
     * @param "IdNic" (optional.Interface of []string) - 
     * @param "IdNie" (optional.Interface of []string) - 
     * @param "IdNiew" (optional.Interface of []string) - 
     * @param "IdNire" (optional.Interface of []string) - 
     * @param "IdNisw" (optional.Interface of []string) - 
     * @param "IdNre" (optional.Interface of []string) - 
     * @param "IdRe" (optional.Interface of []string) - 
     * @param "Limit" (optional.Int32) -  Number of results to return per page.
     * @param "Location" (optional.String) -  Location (name)
     * @param "Name" (optional.Interface of []string) - 
     * @param "NameIc" (optional.Interface of []string) - 
     * @param "NameIe" (optional.Interface of []string) - 
     * @param "NameIew" (optional.Interface of []string) - 
     * @param "NameIre" (optional.Interface of []string) - 
     * @param "NameIsw" (optional.Interface of []string) - 
     * @param "NameN" (optional.Interface of []string) - 
     * @param "NameNic" (optional.Interface of []string) - 
     * @param "NameNie" (optional.Interface of []string) - 
     * @param "NameNiew" (optional.Interface of []string) - 
     * @param "NameNire" (optional.Interface of []string) - 
     * @param "NameNisw" (optional.Interface of []string) - 
     * @param "NameNre" (optional.Interface of []string) - 
     * @param "NameRe" (optional.Interface of []string) - 
     * @param "Offset" (optional.Int32) -  The initial index from which to return the results.
     * @param "Sort" (optional.String) -  Which field to use when ordering the results.
     * @param "Depth" (optional.Int32) -  Serializer Depth
@return PaginatedConsolePortList
*/

type DcimApiDcimConsoleConnectionsListOpts struct {
    Device optional.Interface
    DeviceId optional.Interface
    Format optional.String
    Id optional.Interface
    IdIc optional.Interface
    IdIe optional.Interface
    IdIew optional.Interface
    IdIre optional.Interface
    IdIsw optional.Interface
    IdN optional.Interface
    IdNic optional.Interface
    IdNie optional.Interface
    IdNiew optional.Interface
    IdNire optional.Interface
    IdNisw optional.Interface
    IdNre optional.Interface
    IdRe optional.Interface
    Limit optional.Int32
    Location optional.String
    Name optional.Interface
    NameIc optional.Interface
    NameIe optional.Interface
    NameIew optional.Interface
    NameIre optional.Interface
    NameIsw optional.Interface
    NameN optional.Interface
    NameNic optional.Interface
    NameNie optional.Interface
    NameNiew optional.Interface
    NameNire optional.Interface
    NameNisw optional.Interface
    NameNre optional.Interface
    NameRe optional.Interface
    Offset optional.Int32
    Sort optional.String
    Depth optional.Int32
}

func (a *DcimApiService) DcimConsoleConnectionsList(ctx context.Context, localVarOptionals *DcimApiDcimConsoleConnectionsListOpts) (PaginatedConsolePortList, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue PaginatedConsolePortList
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/dcim/console-connections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Device.IsSet() {
		localVarQueryParams.Add("device", parameterToString(localVarOptionals.Device.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.DeviceId.IsSet() {
		localVarQueryParams.Add("device_id", parameterToString(localVarOptionals.DeviceId.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Format.IsSet() {
		localVarQueryParams.Add("format", parameterToString(localVarOptionals.Format.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Id.IsSet() {
		localVarQueryParams.Add("id", parameterToString(localVarOptionals.Id.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIc.IsSet() {
		localVarQueryParams.Add("id__ic", parameterToString(localVarOptionals.IdIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIe.IsSet() {
		localVarQueryParams.Add("id__ie", parameterToString(localVarOptionals.IdIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIew.IsSet() {
		localVarQueryParams.Add("id__iew", parameterToString(localVarOptionals.IdIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIre.IsSet() {
		localVarQueryParams.Add("id__ire", parameterToString(localVarOptionals.IdIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdIsw.IsSet() {
		localVarQueryParams.Add("id__isw", parameterToString(localVarOptionals.IdIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdN.IsSet() {
		localVarQueryParams.Add("id__n", parameterToString(localVarOptionals.IdN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNic.IsSet() {
		localVarQueryParams.Add("id__nic", parameterToString(localVarOptionals.IdNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNie.IsSet() {
		localVarQueryParams.Add("id__nie", parameterToString(localVarOptionals.IdNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNiew.IsSet() {
		localVarQueryParams.Add("id__niew", parameterToString(localVarOptionals.IdNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNire.IsSet() {
		localVarQueryParams.Add("id__nire", parameterToString(localVarOptionals.IdNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNisw.IsSet() {
		localVarQueryParams.Add("id__nisw", parameterToString(localVarOptionals.IdNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdNre.IsSet() {
		localVarQueryParams.Add("id__nre", parameterToString(localVarOptionals.IdNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.IdRe.IsSet() {
		localVarQueryParams.Add("id__re", parameterToString(localVarOptionals.IdRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Location.IsSet() {
		localVarQueryParams.Add("location", parameterToString(localVarOptionals.Location.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Name.IsSet() {
		localVarQueryParams.Add("name", parameterToString(localVarOptionals.Name.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameIc.IsSet() {
		localVarQueryParams.Add("name__ic", parameterToString(localVarOptionals.NameIc.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameIe.IsSet() {
		localVarQueryParams.Add("name__ie", parameterToString(localVarOptionals.NameIe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameIew.IsSet() {
		localVarQueryParams.Add("name__iew", parameterToString(localVarOptionals.NameIew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameIre.IsSet() {
		localVarQueryParams.Add("name__ire", parameterToString(localVarOptionals.NameIre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameIsw.IsSet() {
		localVarQueryParams.Add("name__isw", parameterToString(localVarOptionals.NameIsw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameN.IsSet() {
		localVarQueryParams.Add("name__n", parameterToString(localVarOptionals.NameN.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNic.IsSet() {
		localVarQueryParams.Add("name__nic", parameterToString(localVarOptionals.NameNic.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNie.IsSet() {
		localVarQueryParams.Add("name__nie", parameterToString(localVarOptionals.NameNie.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNiew.IsSet() {
		localVarQueryParams.Add("name__niew", parameterToString(localVarOptionals.NameNiew.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNire.IsSet() {
		localVarQueryParams.Add("name__nire", parameterToString(localVarOptionals.NameNire.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNisw.IsSet() {
		localVarQueryParams.Add("name__nisw", parameterToString(localVarOptionals.NameNisw.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameNre.IsSet() {
		localVarQueryParams.Add("name__nre", parameterToString(localVarOptionals.NameNre.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.NameRe.IsSet() {
		localVarQueryParams.Add("name__re", parameterToString(localVarOptionals.NameRe.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Sort.IsSet() {
		localVarQueryParams.Add("sort", parameterToString(localVarOptionals.Sort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Depth.IsSet() {
		localVarQueryParams.Add("depth", parameterToString(localVarOptionals.Depth.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			
			localVarQueryParams.Add("sessionid", key)
		}
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key
			
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
[...]
