/*
API Documentation

Source of truth and network automation platform

API version: 3.1.8 (3.1)
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package nautobot

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// WirelessAPIService WirelessAPI service
type WirelessAPIService service

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroy Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroy

Destroy a list of controller managed device group radio profile assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroy(ctx context.Context) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest *[]PatchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest) PatchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest(patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest []PatchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest {
	r.patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest = &patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest) Execute() ([]ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdate Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdate

Partial update a list of controller managed device group radio profile assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdateRequest) ([]ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest *[]BulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest) BulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest(bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest []BulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest {
	r.bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest = &bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest) Execute() ([]ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdate Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdate

Update a list of controller managed device group radio profile assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdateRequest) ([]ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableControllerManagedDeviceGroupRadioProfileAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	controllerManagedDeviceGroupRadioProfileAssignmentRequest *ControllerManagedDeviceGroupRadioProfileAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest) ControllerManagedDeviceGroupRadioProfileAssignmentRequest(controllerManagedDeviceGroupRadioProfileAssignmentRequest ControllerManagedDeviceGroupRadioProfileAssignmentRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest {
	r.controllerManagedDeviceGroupRadioProfileAssignmentRequest = &controllerManagedDeviceGroupRadioProfileAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest) Execute() (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreate Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreate

Create one or more controller managed device group radio profile assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreateRequest) (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.controllerManagedDeviceGroupRadioProfileAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("controllerManagedDeviceGroupRadioProfileAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.controllerManagedDeviceGroupRadioProfileAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroy Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroy

Destroy a controller managed device group radio profile assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group radio profile assignment.
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroy(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	controllerManagedDeviceGroup *[]string
	controllerManagedDeviceGroupN *[]string
	format *CircuitsCircuitTerminationsListFormatParameter
	id *[]string
	idN *[]string
	limit *int32
	offset *int32
	q *string
	radioProfile *[]string
	radioProfileN *[]string
	sort *string
	depth *int32
	excludeM2m *bool
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) ControllerManagedDeviceGroup(controllerManagedDeviceGroup []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.controllerManagedDeviceGroup = &controllerManagedDeviceGroup
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) ControllerManagedDeviceGroupN(controllerManagedDeviceGroupN []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.controllerManagedDeviceGroupN = &controllerManagedDeviceGroupN
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.format = &format
	return r
}

// Unique object identifier, either a UUID primary key or a composite key.
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Id(id []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.id = &id
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) IdN(idN []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.idN = &idN
	return r
}

// Number of results to return per page.
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Limit(limit int32) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Offset(offset int32) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.offset = &offset
	return r
}

// Search
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Q(q string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.q = &q
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) RadioProfile(radioProfile []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.radioProfile = &radioProfile
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) RadioProfileN(radioProfileN []string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.radioProfileN = &radioProfileN
	return r
}

// Which field to use when ordering the results.
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Sort(sort string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.sort = &sort
	return r
}

// Serializer Depth
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Depth(depth int32) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) ExcludeM2m(excludeM2m bool) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) Execute() (*PaginatedControllerManagedDeviceGroupRadioProfileAssignmentList, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsListExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsList Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsList

Retrieve a list of controller managed device group radio profile assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsList(ctx context.Context) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedControllerManagedDeviceGroupRadioProfileAssignmentList
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsListExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsListRequest) (*PaginatedControllerManagedDeviceGroupRadioProfileAssignmentList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedControllerManagedDeviceGroupRadioProfileAssignmentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.controllerManagedDeviceGroup != nil {
		t := *r.controllerManagedDeviceGroup
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group", t, "form", "multi")
		}
	}
	if r.controllerManagedDeviceGroupN != nil {
		t := *r.controllerManagedDeviceGroupN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group__n", t, "form", "multi")
		}
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.idN != nil {
		t := *r.idN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.radioProfile != nil {
		t := *r.radioProfile
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "radio_profile", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "radio_profile", t, "form", "multi")
		}
	}
	if r.radioProfileN != nil {
		t := *r.radioProfileN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "radio_profile__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "radio_profile__n", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	patchedControllerManagedDeviceGroupRadioProfileAssignmentRequest *PatchedControllerManagedDeviceGroupRadioProfileAssignmentRequest
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest) PatchedControllerManagedDeviceGroupRadioProfileAssignmentRequest(patchedControllerManagedDeviceGroupRadioProfileAssignmentRequest PatchedControllerManagedDeviceGroupRadioProfileAssignmentRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest {
	r.patchedControllerManagedDeviceGroupRadioProfileAssignmentRequest = &patchedControllerManagedDeviceGroupRadioProfileAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest) Execute() (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdate Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdate

Partial update a controller managed device group radio profile assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group radio profile assignment.
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdate(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdateRequest) (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedControllerManagedDeviceGroupRadioProfileAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	depth *int32
	excludeM2m *bool
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest {
	r.format = &format
	return r
}

// Serializer Depth
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest) Depth(depth int32) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest) ExcludeM2m(excludeM2m bool) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest) Execute() (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieve Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieve

Retrieve a controller managed device group radio profile assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group radio profile assignment.
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieve(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieveRequest) (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	controllerManagedDeviceGroupRadioProfileAssignmentRequest *ControllerManagedDeviceGroupRadioProfileAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest) ControllerManagedDeviceGroupRadioProfileAssignmentRequest(controllerManagedDeviceGroupRadioProfileAssignmentRequest ControllerManagedDeviceGroupRadioProfileAssignmentRequest) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest {
	r.controllerManagedDeviceGroupRadioProfileAssignmentRequest = &controllerManagedDeviceGroupRadioProfileAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest) Execute() (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdate Method for WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdate

Update a controller managed device group radio profile assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group radio profile assignment.
 @return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdate(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupRadioProfileAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateExecute(r ApiWirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdateRequest) (*ControllerManagedDeviceGroupRadioProfileAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupRadioProfileAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupRadioProfileAssignmentsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-radio-profile-assignments/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.controllerManagedDeviceGroupRadioProfileAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("controllerManagedDeviceGroupRadioProfileAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.controllerManagedDeviceGroupRadioProfileAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	bulkOperationRequest *[]BulkOperationRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest) BulkOperationRequest(bulkOperationRequest []BulkOperationRequest) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest {
	r.bulkOperationRequest = &bulkOperationRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroy Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroy

Destroy a list of controller managed device group wireless network assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroy(ctx context.Context) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkOperationRequest == nil {
		return nil, reportError("bulkOperationRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest *[]PatchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest) PatchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest(patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest []PatchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest {
	r.patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest = &patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest) Execute() ([]ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdate Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdate

Partial update a list of controller managed device group wireless network assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ControllerManagedDeviceGroupWirelessNetworkAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdateRequest) ([]ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControllerManagedDeviceGroupWirelessNetworkAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedBulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest *[]BulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest) BulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest(bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest []BulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest {
	r.bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest = &bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest) Execute() ([]ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdate Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdate

Update a list of controller managed device group wireless network assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ControllerManagedDeviceGroupWirelessNetworkAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdateRequest) ([]ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControllerManagedDeviceGroupWirelessNetworkAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsBulkUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkWritableControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	controllerManagedDeviceGroupWirelessNetworkAssignmentRequest *ControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest) ControllerManagedDeviceGroupWirelessNetworkAssignmentRequest(controllerManagedDeviceGroupWirelessNetworkAssignmentRequest ControllerManagedDeviceGroupWirelessNetworkAssignmentRequest) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest {
	r.controllerManagedDeviceGroupWirelessNetworkAssignmentRequest = &controllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest) Execute() (*ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreate Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreate

Create one or more controller managed device group wireless network assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreate(ctx context.Context) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupWirelessNetworkAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreateRequest) (*ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupWirelessNetworkAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.controllerManagedDeviceGroupWirelessNetworkAssignmentRequest == nil {
		return localVarReturnValue, nil, reportError("controllerManagedDeviceGroupWirelessNetworkAssignmentRequest is required and must be specified")
	}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/csv"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.controllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroy Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroy

Destroy a controller managed device group wireless network assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group wireless network assignment.
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroy(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	controllerManagedDeviceGroup *[]string
	controllerManagedDeviceGroupN *[]string
	format *CircuitsCircuitTerminationsListFormatParameter
	id *[]string
	idN *[]string
	limit *int32
	offset *int32
	q *string
	sort *string
	vlan *[]string
	vlanIsnull *bool
	vlanN *[]string
	wirelessNetwork *[]string
	wirelessNetworkN *[]string
	depth *int32
	excludeM2m *bool
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) ControllerManagedDeviceGroup(controllerManagedDeviceGroup []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.controllerManagedDeviceGroup = &controllerManagedDeviceGroup
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) ControllerManagedDeviceGroupN(controllerManagedDeviceGroupN []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.controllerManagedDeviceGroupN = &controllerManagedDeviceGroupN
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.format = &format
	return r
}

// Unique object identifier, either a UUID primary key or a composite key.
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Id(id []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.id = &id
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) IdN(idN []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.idN = &idN
	return r
}

// Number of results to return per page.
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Limit(limit int32) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Offset(offset int32) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.offset = &offset
	return r
}

// Search
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Q(q string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.q = &q
	return r
}

// Which field to use when ordering the results.
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Sort(sort string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.sort = &sort
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Vlan(vlan []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.vlan = &vlan
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) VlanIsnull(vlanIsnull bool) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.vlanIsnull = &vlanIsnull
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) VlanN(vlanN []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.vlanN = &vlanN
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) WirelessNetwork(wirelessNetwork []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.wirelessNetwork = &wirelessNetwork
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) WirelessNetworkN(wirelessNetworkN []string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.wirelessNetworkN = &wirelessNetworkN
	return r
}

// Serializer Depth
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Depth(depth int32) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.depth = &depth
	return r
}

// Exclude many-to-many fields from the response
func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) ExcludeM2m(excludeM2m bool) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	r.excludeM2m = &excludeM2m
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) Execute() (*PaginatedControllerManagedDeviceGroupWirelessNetworkAssignmentList, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsList Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsList

Retrieve a list of controller managed device group wireless network assignment objects.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsList(ctx context.Context) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedControllerManagedDeviceGroupWirelessNetworkAssignmentList
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsListRequest) (*PaginatedControllerManagedDeviceGroupWirelessNetworkAssignmentList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedControllerManagedDeviceGroupWirelessNetworkAssignmentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.controllerManagedDeviceGroup != nil {
		t := *r.controllerManagedDeviceGroup
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group", t, "form", "multi")
		}
	}
	if r.controllerManagedDeviceGroupN != nil {
		t := *r.controllerManagedDeviceGroupN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controller_managed_device_group__n", t, "form", "multi")
		}
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.idN != nil {
		t := *r.idN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id__n", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.vlan != nil {
		t := *r.vlan
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "vlan", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "vlan", t, "form", "multi")
		}
	}
	if r.vlanIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vlan__isnull", r.vlanIsnull, "form", "")
	}
	if r.vlanN != nil {
		t := *r.vlanN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "vlan__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "vlan__n", t, "form", "multi")
		}
	}
	if r.wirelessNetwork != nil {
		t := *r.wirelessNetwork
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "wireless_network", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "wireless_network", t, "form", "multi")
		}
	}
	if r.wirelessNetworkN != nil {
		t := *r.wirelessNetworkN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "wireless_network__n", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "wireless_network__n", t, "form", "multi")
		}
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", defaultValue, "form", "")
		r.depth = &defaultValue
	}
	if r.excludeM2m != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_m2m", r.excludeM2m, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *WirelessAPIService
	id string
	format *CircuitsCircuitTerminationsListFormatParameter
	patchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest *PatchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest) Format(format CircuitsCircuitTerminationsListFormatParameter) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest {
	r.format = &format
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest) PatchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest(patchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest PatchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest {
	r.patchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest = &patchedControllerManagedDeviceGroupWirelessNetworkAssignmentRequest
	return r
}

func (r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest) Execute() (*ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	return r.ApiService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateExecute(r)
}

/*
WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdate Method for WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdate

Partial update a controller managed device group wireless network assignment object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this controller managed device group wireless network assignment.
 @return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest
*/
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdate(ctx context.Context, id string) ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest {
	return ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ControllerManagedDeviceGroupWirelessNetworkAssignment
func (a *WirelessAPIService) WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateExecute(r ApiWirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdateRequest) (*ControllerManagedDeviceGroupWirelessNetworkAssignment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerManagedDeviceGroupWirelessNetworkAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessAPIService.WirelessControllerManagedDeviceGroupWirelessNetworkAssignmentsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/wireless/controller-managed-device-group-wireless-network-assignments/{id}/"
[...]
